
<%= simple_form_for(@training) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :contact %>
    <%= f.input :equipment_name %>
    <%= f.input :model %>
    <%= f.input :training_type, collection: ['End User', 'Maintenance'] %>
    <%= f.input :trainer_name %>
    <%= f.input :training_sponsor %>
    <%= f.input :training_date, as: :string, input_html: {class: 'datepicker'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
