<table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
  <tr>
    <th>Trainee Name</th>
    <th>Equipment name</th>
    <th>Model</th>
    <th>Training type</th>
    <th>Training date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @trainings.each do |training| %>
      <tr>
        <td><%= training.contact %></td>
        <td><%= training.equipment_name %></td>
        <td><%= training.model %></td>
        <td><%= training.training_type %></td>
        <td><%= training.training_date %></td>
        <td>
          <%= link_to 'Details', training, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_training_path(training), class: 'btn btn-primary' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
