<div class="header">
  <h2>Training Details</h2>
</div>
<div class="panel-heading">
<p>
  <strong>Full Name:</strong>
  <%= @training.contact.name_of_contact %>
</p>

  <p>
    <strong>Profession</strong>
    <%= @training.contact.profession %>
  </p>

  <p>
    <strong>Job Title:</strong>
    <%= @training.contact.title %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @training.contact.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @training.contact.email %>
  </p>
<p>
  <strong>Equipment name:</strong>
  <%= @training.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @training.model %>
</p>

<p>
  <strong>Training type:</strong>
  <%= @training.training_type %>
</p>

<p>
  <strong>Trainer name:</strong>
  <%= @training.trainer_name %>
</p>

<p>
  <strong>Training sponsor:</strong>
  <%= @training.training_sponsor %>
</p>

<p>
  <strong>Training date:</strong>
  <%= @training.training_date %>
</p>
<hr/>
<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
</div>