<div class="header">
  <h2>
    Training Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Trainee type</th>
      <th>Request to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @training_requests.each do |training_request| %>
      <tr>
        <td><%= training_request.request_from %></td>
        <td><%= training_request.request_date %></td>
        <td><%= training_request.trainee_type %></td>
        <td><%= training_request.request_to %></td>
        <td><%= training_request.request_date %></td>
        <td>
          <%= link_to 'Details', training_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_training_request_path(training_request), class: 'btn btn-primary' if can? :edit, training_request %>
          <%= link_to 'Delete', training_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, training_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Training Request', new_training_request_path, class: 'btn btn-primary' if can? :create, TrainingRequest %>
</div>