<div class="header">
  <h2>Training Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @training_request.request_from %>
</p>

<p>
  <strong>Trainee type:</strong>
  <%= @training_request.trainee_type %>
</p>

<p>
  <strong>Training description:</strong>
  <%= @training_request.training_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @training_request.request_to %>
</p>

  <% if @training_request.institution_id? %>
      <p>
        <label><%= @training_request.request_to %>:</label>
        <%= @training_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @training_request.user %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @training_request.request_date %>
</p>
  <p>
    <strong>Status:</strong>
    <%= @status %>
  </p>
  <%= simple_nested_form_for(@training_request, url: decision_training_request_path) do |f| %>
  <% if can? :decision, @training_request and @training_request.status == Constants::PENDING %>
          <%= f.input :comment %>
          <%= f.input :status, label: 'Action', collection: Constants::ACTIONS, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
          <div id="forward">
            <%= f.input :request_to, label: 'Forward to', collection: Constants::REQUEST_TO %>
          </div>
          <div id="training_request_to">
            <%= render partial: 'request_to' %>
          </div>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @training_request.comment %></p>
      <p><label><%= @status unless @status==Constants::PENDING %> by:</label> <%= @training_request.decided_user.try(:name_and_from_type) %></p>
  <% end %>

  <hr/>
      <% if can? :decision, @training_request and @training_request.status == Constants::PENDING %>
          <%= f.button :submit, 'Submit' %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_training_request_path(@training_request), class: 'btn btn-primary' if can? :edit, @training_request and @training_request.status == Constants::PENDING  %>
<%= link_to 'Back', training_requests_path %>
</div>