<div class="header">
  <h2>Training Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @training_request.request_from %>
</p>

<p>
  <strong>Trainee type:</strong>
  <%= @training_request.trainee_type %>
</p>

<p>
  <strong>Training description:</strong>
  <%= @training_request.training_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @training_request.request_to %>
</p>

  <% if @training_request.institution_id? %>
      <p>
        <label><%= @training_request.request_to %>:</label>
        <%= @training_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @training_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @training_request.request_date %>
</p>
  <p>
    <strong>Status:</strong>
    <%= @training_request.status %>
  </p>
  <hr/>
  <%= simple_nested_form_for(@training_request, url: decision_training_request_path) do |f| %>
      <% if can? :decision, @training_request and @training_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @training_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @training_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_training_request_path(@training_request), class: 'btn btn-primary' if can? :edit, @training_request %>
<%= link_to 'Back', training_requests_path %>
</div>