<div class="header">
  <h2>Training Request</h2>
</div>
<div class="body">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <label class="col-sm-6">Equipment Name</label>
        <%= @training_request.equipment_name %>
      </div>

      <div class="row">
        <label class="col-sm-6">Training type:</label>
        <%= @training_request.trainee_type %>
      </div>

      <div class="row">
        <label class="col-sm-6">Training Level:</label>
        <%= @training_request.level %>
      </div>

      <div class="row">
        <label class="col-sm-6">Training description:</label>
        <%= @training_request.training_description %>
      </div>

      <div class="row">
        <label class="col-sm-6">Requested by:</label>
        <%= @training_request.user.organization_unit %>
      </div>

      <div class="row">
        <label class="col-sm-6">Request date:</label>
        <%= @training_request.request_date %>
      </div>
      <p class="row">
        <% if @training_request.attachment.attached? %>
            <label class="col-sm-6">Attached Document:</label>
            <%= link_to @training_request.attachment, target: '_blank' do %>
                <button><i class="material-icons">file_download</i></button>
            <% end %>
        <% end %>
      </p>
      <div class="row">
        <label class="col-sm-6">Status:</label> <%= @status %>
        <% if @status == Constants::OUT_SOURCED %>
            to <%= @training_request.forwards.order('created_at DESC').first.institution %>
        <% end %>
        <% if @status == Constants::FORWARDED %>
            to <%= @training_request.forwards.order('created_at DESC').first.organization_unit %>
        <% end %>
      </div>
      <% unless @status==Constants::PENDING %>
          <div class="row"><label class="col-sm-6"><%= @status %> by:</label> <%= @training_request.decided_user.organization_unit %></div>
        <div class="row"><label class="col-sm-6">Comment:</label> <%= @training_request.comment %></div>
      <% end %>
    </div>
    <div class="col-sm-8 left_form">
      <% if (can? :decision, @training_request or can? :decision, @training_request.forwards.first) and (@training_request.status == Constants::PENDING or @training_request.status == Constants::FORWARDED) %>
      <%= simple_nested_form_for(@training_request, url: decision_training_request_path) do |f| %>
              <%= f.input :comment %>
              <%= f.input :status, collection: @actions, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
                <%= f.simple_fields_for [Forward.new] do |ff| %>
                    <div id="outsource">
                    <%= ff.input :institution_id, label: "Out Sourced to", collection: @institutions %>
                    </div>
                  <div id="forward">
                    <%= ff.input :organization_unit_id, label: 'Forward to', collection: @organization_units, include_blank: false %>
                  </div>
                <% end %>
              <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>

          <hr/>
              <%= f.button :submit, 'Submit' %>
          <% end %>
      <% end %>
    </div>
  </div>
<hr/>
  <%= link_to 'Back', training_requests_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_training_request_path(@training_request), class: 'btn btn-primary' if can? :edit, @training_request and @training_request.status == Constants::PENDING  %>
</div>