<%= simple_form_for(@institution) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization_unit, label: 'Organization Unit', collection: [@organization_unit] unless @organization_unit.blank? %>
    <%= f.input :name %>
    <%= f.input :category, collection: ['Supplier', 'Local Representative'], as: :radio_buttons %>
    <%= f.input :institution_type, label: 'Type', collection: ['NGO', 'Government','Private'], as: :radio_buttons %>
    <%= f.input :contact_person %>
    <%= f.input :contact_phone %>
    <%= f.input :contact_email %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
