<%= simple_form_for(@organization_unit) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.association :organization_unit_type %>
    <%= f.association :parent_organization_unit, label: 'Parent Organization Unit' %>
    <%= f.input :facility, label_html: {class: 'transparent_label'}, input_html: {class: 'filled-in chk-col-pink"'} %>
    </div>
    <div class="col-sm-6 left_form">
    <%= f.input :category, collection: ['Public', 'Private', 'NGO'] %>
    <%= f.input :url, label: 'URL' %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :note %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Save' %>
  </div>
<% end %>
