<table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Organization Unit Type</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @organization_units.each do |organization_unit| %>
      <tr>
        <td><%= organization_unit.name %></td>
        <td><%= organization_unit.code %></td>
        <td><%= organization_unit.organization_unit_type %></td>
        <td>
          <%= link_to 'Edit', edit_organization_unit_path(organization_unit), class: 'btn btn-primary' if can? :edit, organization_unit %>
        <td><%= link_to 'Delete', organization_unit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, organization_unit %></td>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add Organization Unit', new_organization_unit_path(parent: @parent.id), class: 'btn btn-primary' if can? :create, OrganizationUnit and !@parent.blank? %>