<% if user_signed_in? and current_user.is_role(Constants::ADMIN) %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
      <% end %>
    </li>
    <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">settings</i>
        <span style="vertical-align: super">System Settings</span>
    </a>
    <ul class="ml-menu">
      <li>
        <%= link_to users_path do %>
            <i class="material-icons">people</i>
            <span>Users</span>
        <% end %>
      </li>

      <li>
        <%= link_to departments_path do %>
            <i class="material-icons">category</i>
            <span>Departments</span>
        <% end %>
      </li>

      <li>
        <%= link_to stores_path do %>
            <i class="material-icons">store</i>
            <span>Stores</span>
        <% end %>
      </li>

      <% if current_user.organization_structure %>
      <li>
        <%= link_to facility_types_path do %>
            <i class="material-icons">category</i>
            <span>Facility Types</span>
        <% end %>
      </li>
    <% end %>

    <% if current_user.organization_structure %>
      <li>
        <%= link_to organization_structures_path do %>
            <i class="material-icons">people</i>
            <span>Organization Units</span>
        <% end %>
      </li>
    <% end %>
    </ul>
<% end %>