<% if user_signed_in? and current_user.is_role(Constants::BIOMEDICAL_HEAD) %>
  <li>
    <%= link_to root_path do %>
      <i class="material-icons">dashboard</i>
      <span>Dashboard</span>
    <% end %>
  </li>
    <li>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">settings</i>
      <span style="vertical-align: super">Settings</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to departments_path do %>
            <i class="material-icons">view_list</i>
            <span>Departments</span>
        <% end %>
      </li>

      <% if current_user.super_admin? %>

      <li>
        <%= link_to maintenance_requirements_path do %>
            <i class="material-icons">build</i>
            <span>Maintenance Requirements</span>
        <% end %>
      </li>

      <li>
        <%= link_to statuses_path do %>
            <i class="material-icons">build</i>
            <span>Equipment Statuses</span>
        <% end %>
      </li>

          <li>
            <%= link_to organization_unit_types_path do %>
                <i class="material-icons">category</i>
                <span>Organization Unit Types</span>
            <% end %>
          </li>
      <% end %>

      <li>
        <%= link_to stores_path do %>
            <i class="material-icons">store</i>
            <span>Stores</span>
        <% end %>
      </li>


      <li>
        <%= link_to contacts_path do %>
            <i class="material-icons">contacts</i>
            <span>Contacts</span>
        <% end %>
      </li>

      <% unless current_user.organization_unit.facility %>
          <li>
            <%= link_to organization_units_path do %>
                <i class="material-icons">filter_list</i>
                <span>Organization Units</span>
            <% end %>
          </li>
      <% end %>

      <li>
        <%= link_to institutions_path do %>
            <i class="material-icons">work</i>
            <span>Suppliers/Local Representatives</span>
        <% end %>
      </li>

    </ul>
    </li>
    <li>
      <%= link_to users_path do %>
          <i class="material-icons">people</i>
          <span>Users</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">store</i>
      <span style="vertical-align: super">Spare Part Management</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to spare_parts_path do %>
            <i class="material-icons">devices</i>
            <span>Spare Parts List</span>
        <% end %>
      </li>

      <li>
        <%= link_to receives_path do %>
            <i class="material-icons">add_shopping_cart</i>
            <span>Receive Spare Part</span>
        <% end %>
      </li>

      <li>
        <%= link_to issues_path do %>
            <i class="material-icons">remove_from_queue</i>
            <span>Issue Spare Part</span>
        <% end %>
      </li>
    </ul>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">devices</i>
      <span style="vertical-align: super">Equipment Management</span>
    </a>
    <ul class="ml-menu">
      <% if current_user.super_admin? %>
      <li>
        <%= link_to equipment_types_path do %>
            <i class="material-icons">category</i>
            <span>Equipment Types</span>
        <% end %>
      </li>

      <li>
        <%= link_to equipment_names_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Names</span>
        <% end %>
      </li>
      <% end %>
      <li>
        <%= link_to specifications_path do %>
            <i class="material-icons">list</i>
            <span>Equipment Specifications</span>
        <% end %>
      </li>

      <% if current_user.organization_unit.facility %>
          <li>
            <%= link_to current_user.organization_unit.model_equipment_list || new_model_equipment_list_path do %>
                <i class="material-icons">store</i>
                <span>Core Equipment List</span>
            <% end %>
          </li>

      <% end %>
      <li>
        <%= link_to equipment_index_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment List</span>
        <% end %>
      </li>

    </ul>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">build</i>
      <span style="vertical-align: super">Maintenance Management</span>
    </a>
    <ul class="ml-menu">
      <li>
        <%= link_to planned_preventive_maintenaces_path do %>
            <i class="material-icons">build</i>
            <span>Planned Preventive Maintenances</span>
        <% end %>
      </li>
      <li>
        <%= link_to maintenances_path do %>
            <i class="material-icons">build</i>
            <span>Corrective Maintenances</span>
        <% end %>
      </li>
      <li>
        <%= link_to maintenance_work_orders_path do %>
            <i class="material-icons">work</i>
            <span>Maintenance Work Orders</span>
        <% end %>
      </li>
    </ul>

    <li>
      <%= link_to trainings_path do %>
          <i class="material-icons">library_books</i>
          <span>Equipment Trainings</span>
      <% end %>
    </li>

    <li>
      <%= link_to inventories_path do %>
          <i class="material-icons">update</i>
          <span>Equipment Inventories</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
    <i class="material-icons">send</i> <span style="vertical-align: super">
      Requests</span>
  </a>
    <ul class="ml-menu">
    <li>
      <%= link_to procurement_requests_path do %>
        <i class="material-icons">shopping_cart</i>
        <span>Procurement Requests
          <span class="badge btn-info"><%= current_user.incoming_procurement_requests.count unless current_user.incoming_procurement_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to specification_requests_path do %>
        <i class="material-icons">help_outline</i>
        <span>Specification Requests<span class="badge btn-info"><%= current_user.incoming_specification_requests.count unless current_user.incoming_specification_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to training_requests_path do %>
        <i class="material-icons">library_books</i>
        <span>Training Requests<span class="badge btn-info"><%= current_user.incoming_training_requests.count unless current_user.incoming_training_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to installation_requests_path do %>
        <i class="material-icons">add_to_queue</i>
        <span>Installation Requests<span class="badge btn-info"><%= current_user.incoming_installation_requests.count unless current_user.incoming_installation_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to maintenance_requests_path do %>
        <i class="material-icons">build</i>
        <span>Maintenance Requests<span class="badge btn-info"><%= current_user.incoming_maintenance_requests.count unless current_user.incoming_maintenance_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to calibration_requests_path do %>
        <i class="material-icons">tune</i>
        <span>Calibration Requests<span class="badge btn-info"><%= current_user.incoming_calibration_requests.count unless current_user.incoming_calibration_requests.blank? %></span>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to disposal_requests_path do %>
        <i class="material-icons">delete_sweep</i>
        <span>Disposal Requests<span class="badge btn-info"><%= current_user.incoming_disposal_requests.count unless current_user.incoming_disposal_requests.blank? %></span>
        </span>
      <% end %>
    </li>

  </ul>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">pie_chart</i>
      <span style="vertical-align: super">Reports</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to reports_equipment_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_trainings_path do %>
            <i class="material-icons">library_books</i>
            <span>Equipment Training Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to maintenances_path do %>
            <i class="material-icons">tune</i>
            <span>Corrective Maintenance Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to planned_preventive_maintenaces_path do %>
            <i class="material-icons">event</i>
            <span>Planned Preventive Maintenance Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to disposals_path do %>
            <i class="material-icons">delete</i>
            <span>Disposal Report</span>
        <% end %>
      </li>

    </ul>

<% end %>