<% if user_signed_in? and current_user.is_role(Constants::BIOMEDICAL_ENGINEER) %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">store</i>
      <span style="vertical-align: super">Logistics</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to receives_path do %>
            <i class="material-icons">add_shopping_cart</i>
            <span>Items Receive</span>
        <% end %>
      </li>

      <li>
        <%= link_to issues_path do %>
            <i class="material-icons">remove_from_queue</i>
            <span>Item Issues</span>
        <% end %>
      </li>
    </ul>

    <li>
      <%= link_to spare_parts_path do %>
          <i class="material-icons">devices</i>
          <span>Spare Parts</span>
      <% end %>
    </li>

    <li>
      <%= link_to specifications_path do %>
          <i class="material-icons">list</i>
          <span>Equipment Specifications</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">devices</i>
      <span style="vertical-align: super">Equipment Management</span>
    </a>
    <ul class="ml-menu">
      <% if current_user.super_admin? %>
          <li>
            <%= link_to equipment_types_path do %>
                <i class="material-icons">category</i>
                <span>Equipment Types</span>
            <% end %>
          </li>

          <li>
            <%= link_to equipment_names_path do %>
                <i class="material-icons">devices</i>
                <span>Equipment Names</span>
            <% end %>
          </li>
      <% end %>

      <% if current_user.organization_unit.facility %>
          <li>
            <%= link_to current_user.organization_unit.model_equipment_list || new_model_equipment_list_path do %>
                <i class="material-icons">store</i>
                <span>Model Equipment List</span>
            <% end %>
          </li>

      <% end %>
      <li>
        <%= link_to equipment_index_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Registration</span>
        <% end %>
      </li>

    </ul>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">build</i>
      <span style="vertical-align: super">Maintenance Management</span>
    </a>
    <ul class="ml-menu">
      <li>
        <%= link_to maintenances_path do %>
            <i class="material-icons">build</i>
            <span>Maintenances</span>
        <% end %>
      </li>
      <li>
        <%= link_to maintenance_work_orders_path do %>
            <i class="material-icons">work</i>
            <span>Maintenance Work Orders</span>
        <% end %>
      </li>
    </ul>

    <li>
      <%= link_to trainings_path do %>
          <i class="material-icons">library_books</i>
          <span>Equipment Trainings</span>
      <% end %>
    </li>

    <li>
      <%= link_to inventories_path do %>
          <i class="material-icons">update</i>
          <span>Equipment Inventories</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">send</i> <span style="vertical-align: super">
      Requests</span>
    </a>
    <ul class="ml-menu">
      <li>
        <%= link_to procurement_requests_path do %>
            <i class="material-icons">shopping_cart</i>
            <span>Procurement Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to specification_requests_path do %>
            <i class="material-icons">help_outline</i>
            <span>Specification Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to training_requests_path do %>
            <i class="material-icons">library_books</i>
            <span>Training Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to installation_requests_path do %>
            <i class="material-icons">add_to_queue</i>
            <span>Installation Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to maintenance_requests_path do %>
            <i class="material-icons">build</i>
            <span>Maintenance Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to calibration_requests_path do %>
            <i class="material-icons">tune</i>
            <span>Calibration Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to disposal_requests_path do %>
            <i class="material-icons">delete_sweep</i>
            <span>Disposal Requests</span>
        <% end %>
      </li>

    </ul>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">pie_chart</i>
      <span style="vertical-align: super">Reports</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to reports_equipment_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_trainings_path do %>
            <i class="material-icons">library_books</i>
            <span>Equipment Training Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_maintenances_path do %>
            <i class="material-icons">tune</i>
            <span>Maintenance Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_spare_parts_path do %>
            <i class="material-icons">build</i>
            <span>Spare Parts Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_disposals_path do %>
            <i class="material-icons">delete</i>
            <span>Disposal Report</span>
        <% end %>
      </li>

    </ul>

<% end %>