<% if user_signed_in? and current_user.is_role(Constants::BIOMEDICAL_ENGINEER) %>
    <li>
      <%= link_to root_path do %>
          <i class="material-icons">dashboard</i>
          <span>Dashboard</span>
      <% end %>
    </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">plus_one</i>
      <span style="vertical-align: super">Registration</span>
    </a>
    <ul class="ml-menu">

      <% if current_user.organization_unit.facility %>
          <li>
            <%= link_to current_user.organization_unit.model_equipment_list || new_model_equipment_list_path do %>
                <i class="material-icons">store</i>
                <span>Model Equipment List</span>
            <% end %>
          </li>

      <% end %>
      <li>
        <%= link_to equipment_index_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Registration</span>
        <% end %>
      </li>

      <li>
        <%= link_to inventories_path do %>
            <i class="material-icons">update</i>
            <span>Equipment Inventories</span>
        <% end %>
      </li>

      <li>
        <%= link_to maintenances_path do %>
            <i class="material-icons">build</i>
            <span>Maintenances</span>
        <% end %>
      </li>

      <li>
        <%= link_to trainings_path do %>
            <i class="material-icons">library_books</i>
            <span>Equipment Trainings</span>
        <% end %>
      </li>

    </ul>


    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">send</i> <span style="vertical-align: super">
      Requests</span>
    </a>
    <ul class="ml-menu">
      <li>
        <%= link_to procurement_requests_path do %>
            <i class="material-icons">shopping_cart</i>
            <span>Procurement Requests
              <% unless current_user.incoming_procurement_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_procurement_requests.count %></span><% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to specification_requests_path do %>
            <i class="material-icons">help_outline</i>
            <span>Specification Requests<% unless current_user.incoming_specification_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_specification_requests.count %></span><% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to training_requests_path do %>
            <i class="material-icons">library_books</i>
            <span>Training Requests <% unless current_user.incoming_training_requests.blank? %> <span class="badge btn-info"><%= current_user.incoming_training_requests.count %></span> <% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to installation_requests_path do %>
            <i class="material-icons">add_to_queue</i>
            <span>Installation Requests<% unless current_user.incoming_installation_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_installation_requests.count %></span> <% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to maintenance_requests_path do %>
            <i class="material-icons">build</i>
            <span>Maintenance Requests<% unless current_user.incoming_maintenance_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_maintenance_requests.count %></span><% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to calibration_requests_path do %>
            <i class="material-icons">tune</i>
            <span>Calibration Requests<% unless current_user.incoming_calibration_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_calibration_requests.count %></span><% end %>
        </span>
        <% end %>
      </li>

      <li>
        <%= link_to disposal_requests_path do %>
            <i class="material-icons">delete_sweep</i>
            <span>Disposal Requests<% unless current_user.incoming_disposal_requests.blank? %><span class="badge btn-info"><%= current_user.incoming_disposal_requests.count %></span> <% end %>
        </span>
        <% end %>
      </li>

    </ul>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">pie_chart</i>
      <span style="vertical-align: super">Reports</span>
    </a>
    <ul class="ml-menu">

      <li>
        <%= link_to reports_equipment_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_trainings_path do %>
            <i class="material-icons">library_books</i>
            <span>Equipment Training Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_maintenances_path do %>
            <i class="material-icons">tune</i>
            <span>Maintenance Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_spare_parts_path do %>
            <i class="material-icons">build</i>
            <span>Spare Parts Report</span>
        <% end %>
      </li>

      <li>
        <%= link_to reports_disposals_path do %>
            <i class="material-icons">delete</i>
            <span>Disposal Report</span>
        <% end %>
      </li>

    </ul>

<% end %>