<% if user_signed_in? and current_user.is_role(Constants::DEPARTMENT) %>
      <li>
        <%= link_to equipment_index_path do %>
            <i class="material-icons">devices</i>
            <span>Equipment</span>
        <% end %>
      </li>

    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">send</i> <span style="vertical-align: super">
      Requests</span>
    </a>

    <ul class="ml-menu">
      <li>
        <%= link_to procurement_requests_path do %>
            <i class="material-icons">shopping_cart</i>
            <span>Procurement Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to spare_part_requests_path do %>
            <i class="material-icons">devices</i>
            <span>Spare Part Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to training_requests_path do %>
            <i class="material-icons">library_books</i>
            <span>Training Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to installation_requests_path do %>
            <i class="material-icons">add_to_queue</i>
            <span>Installation Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to maintenance_requests_path do %>
            <i class="material-icons">build</i>
            <span>Maintenance Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to calibration_requests_path do %>
            <i class="material-icons">tune</i>
            <span>Calibration Requests</span>
        <% end %>
      </li>

      <li>
        <%= link_to disposal_requests_path do %>
            <i class="material-icons">delete_sweep</i>
            <span>Disposal Requests</span>
        <% end %>
      </li>

    </ul>

<% end %>