<% if current_user.is_role(Constants::SUPPLIER) %>

    <li>
      <%= link_to request_statuses_path do %>
          <i class="material-icons">shopping_cart</i>
          <span>Procurement Requests
            <% unless current_user.institution.new_requests.blank? %><span class="badge btn-info"><%= current_user.institution.new_requests.count %></span><% end %>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to distributions_path do %>
          <i class="material-icons">update</i>
          <span>Distribution Requests
            <% unless current_user.institution.new_distribution_requests.blank? %>
                <span class="badge btn-info"><%= current_user.institution.new_distribution_requests.count %></span>
            <% end %>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to epsa_teams_path do %>
          <i class="material-icons">layers</i>
          <span>EPSA Teams</span>
      <% end %>
    </li>

    <li>
      <%= link_to epsa_statuses_path do %>
          <i class="material-icons">list</i>
          <span>Statuses at EPSA</span>
      <% end %>
    </li>

    <li>
      <%= link_to epsa_hubs_path do %>
          <i class="material-icons">store</i>
          <span>EPSA Hubs</span>
      <% end %>
    </li>

    <li>
      <%= link_to users_path do %>
          <i class="material-icons">people</i>
          <span>Users</span>
      <% end %>
    </li>

<% end %>