<div class="header">
  <h2>Spare Part Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @spare_part_request.request_from %>
</p>

<p>
  <strong>Spare part name:</strong>
  <%= @spare_part_request.spare_part_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @spare_part_request.model %>
</p>

<p>
  <strong>Volts ampere:</strong>
  <%= @spare_part_request.volts_ampere %>
</p>

<p>
  <strong>Power requirement:</strong>
  <%= @spare_part_request.power_requirement %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @spare_part_request.quantity %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @spare_part_request.request_to %>
</p>

  <% if @spare_part_request.institution_id? %>
      <p>
        <label><%= @spare_part_request.request_to %>:</label>
        <%= @spare_part_request.institution %>
      </p>
  <% end %>
<p>
  <strong>Requested by:</strong>
  <%= @spare_part_request.user %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @spare_part_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @spare_part_request.status %>
  </p>
  <%= simple_form_for(@spare_part_request, url: decision_spare_part_request_path) do |f| %>
  <% if can? :decision, @spare_part_request and @spare_part_request.status == Constants::PENDING %>
      <%= f.input :comment, wrapper: 'vertical_form' %>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @spare_part_request.comment %></p>
      <p><label>Decided by:</label> <%= @spare_part_request.decided_user %></p>
  <% end %>
<hr/>
      <% if can? :decision, @spare_part_request and @spare_part_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @spare_part_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @spare_part_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>


<%= link_to 'Edit', edit_spare_part_request_path(@spare_part_request), class: 'btn btn-primary' if can? :edit, @spare_part_request and @spare_part_request.status == Constants::PENDING  %>
<%= link_to 'Back', spare_part_requests_path %>
</div>