
<%= simple_nested_form_for(@inventory) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-sm-6">
    <div class="form-group row">
      <label class="col-sm-3">Inventory Number</label>
      <span class="col-sm-9">
          <input class="form-control" id="inventory_equipment" value="<%= @equipment.try(:inventory_number) %>"/>
        </span>
    </div>
     <div id="equipment_display">
       <%= render partial: 'equipment' %>
     </div>
      <%= f.association :status, collection: Status.all %>
    </div>
    <div class="col-sm-6 left_form">
      <%= f.input :description_of_problem %>
      <%= f.input :suggestion %>
      <%= f.input :inventory_date, as: 'string', input_html: {class: 'datepicker'} %>
      <%= f.input :inventory_done_by %>
      <%= f.input :contact_address %>
      <%= f.input :note %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
