<div class="header">
  <h2>
    Maintenance Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Department</th>
      <th>Equipment</th>
      <th>Failure date</th>
      <th>Request Date</th>
      <th>Request Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_requests.each do |maintenance_request| %>
      <tr>
        <td><%= maintenance_request.equipment.department %></td>
        <td><%= maintenance_request.equipment %></td>
        <td><%= maintenance_request.failure_date.strftime("%B %d, %Y") rescue nil%></td>
        <td><%= maintenance_request.created_at.strftime("%B %d, %Y") rescue nil %></td>
        <td><%= maintenance_request.request_status %></td>
        <td>
          <%= link_to 'Details', maintenance_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_maintenance_request_path(maintenance_request), class: 'btn btn-primary' if can? :edit, maintenance_request and maintenance_request.status == Constants::PENDING %>
          <%= link_to 'Delete', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, maintenance_request and maintenance_request.status == Constants::PENDING %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Maintenance Request', new_maintenance_request_path, class: 'btn btn-primary' if can? :create, MaintenanceRequest %>
</div>