<div class="header">
  <h2>Maintenance Requests</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @maintenance_request.request_from %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @maintenance_request.equipment %>
</p>

<p>
  <strong>Maintenance type:</strong>
  <%= @maintenance_request.maintenance_type %>
</p>

<p>
  <strong>Maintenance description:</strong>
  <%= @maintenance_request.maintenance_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @maintenance_request.request_to %>
</p>

  <% if @maintenance_request.institution_id? %>
      <p>
        <label><%= @maintenance_request.request_to %>:</label>
        <%= @maintenance_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @maintenance_request.user %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @maintenance_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @maintenance_request.status %>
  </p>
  <%= simple_form_for(@maintenance_request, url: decision_maintenance_request_path) do |f| %>
  <% if can? :decision, @maintenance_request and @maintenance_request.status == Constants::PENDING %>
      <%= f.input :comment, wrapper: 'vertical_form' %>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @maintenance_request.comment %></p>
      <p><label>Decided by:</label> <%= @maintenance_request.decided_user %></p>
  <% end %>
  <hr/>
      <% if can? :decision, @maintenance_request and @maintenance_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @maintenance_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @maintenance_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
  <br/>
<%= link_to 'Edit', edit_maintenance_request_path(@maintenance_request), class: 'btn btn-primary' if can? :edit, @maintenance_request and @maintenance_request.status == Constants::PENDING  %>
<%= link_to 'Back', maintenance_requests_path %>
</div>