<div class="header">
  <h2>Maintenance Requests</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @maintenance_request.request_from %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @maintenance_request.equipment %>
</p>

<p>
  <strong>Maintenance type:</strong>
  <%= @maintenance_request.maintenance_type %>
</p>

<p>
  <strong>Maintenance description:</strong>
  <%= @maintenance_request.maintenance_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @maintenance_request.request_to %>
</p>

  <% if @maintenance_request.institution_id? %>
      <p>
        <label><%= @maintenance_request.request_to %>:</label>
        <%= @maintenance_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @maintenance_request.user.name_and_from_type %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @maintenance_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @status %>
  </p>
  <%= simple_form_for(@maintenance_request, url: decision_maintenance_request_path) do |f| %>
  <% if can? :decision, @maintenance_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.input :comment %>
          <%= f.input :status, label: 'Action', collection: Constants::ACTIONS, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
          <div id="forward">
          <%= f.input :request_to, label: 'Forward to', collection: Constants::REQUEST_TO %>
          </div>
          <div id="maintenance_request_to">
            <%= render partial: 'request_to' %>
          </div>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @maintenance_request.comment %></p>
      <p><label><%= @status unless @status==Constants::PENDING %> by: </label> <%= @maintenance_request.decided_user.try(:name_and_from_type) %></p>
  <% end %>
  <hr/>
      <% if can? :decision, @maintenance_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <center><%= f.button :submit, 'Submit' %></center>
      <% end %>
  <% end %>
  <br/>
<%= link_to 'Edit', edit_maintenance_request_path(@maintenance_request), class: 'btn btn-primary' if can? :edit, @maintenance_request and @maintenance_request.status == Constants::PENDING  %>
<%= link_to 'Back', maintenance_requests_path %>
</div>