<div class="header">
  <h2>Maintenance Requests</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @maintenance_request.user.organization_unit %>
</p>

  <p>
    <strong>Requested by:</strong>
    <%= @maintenance_request.user %>
  </p>

<p>
  <strong>Equipment:</strong>
  <%= @maintenance_request.equipment %>
</p>

  <p>
    <strong>Failure date:</strong>
    <%= @maintenance_request.failure_date %>
  </p>

<p>
  <strong>Description of problem:</strong>
  <%= @maintenance_request.description_of_problem %>
</p>

<p>
  <strong>Equipment status:</strong>
  <%= @maintenance_request.status %>
</p>


  <p>
    <strong>Request Status:</strong>
    <%= @status %>
  </p>
  <hr/>
<%= link_to 'Back', maintenance_requests_path, class: 'btn btn-default' %>
  <% if can? :manage, @maintenance_request and [Constants::PENDING].include?(@status) %>
      <%= link_to 'Start Work Order', new_maintenance_work_order_path(maintenance_request: @maintenance_request.id), class: 'btn btn-primary' %>
      <%= link_to 'Forward', forward_maintenance_request_path(id: @maintenance_request.id), class: 'btn btn-primary' %>
      <%= link_to 'Maintenance Report', new_maintenance_path(maintenance_request: @maintenance_request.id), class: 'btn btn-primary' %>
  <% end %>
</div>