<p id="notice"><%= notice %></p>

<p>
  <strong>Organization structure:</strong>
  <%= @maintenance_request.organization_structure %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @maintenance_request.facility %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @maintenance_request.equipment %>
</p>

<p>
  <strong>Maintenance type:</strong>
  <%= @maintenance_request.maintenance_type %>
</p>

<p>
  <strong>Maintenance description:</strong>
  <%= @maintenance_request.maintenance_description %>
</p>

<p>
  <strong>Requested to:</strong>
  <%= @maintenance_request.requested_to %>
</p>

<p>
  <strong>Request to org structure:</strong>
  <%= @maintenance_request.request_to_org_structure %>
</p>

<p>
  <strong>Request to facility:</strong>
  <%= @maintenance_request.request_to_facility %>
</p>

<p>
  <strong>Request to institution:</strong>
  <%= @maintenance_request.request_to_institution %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @maintenance_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @maintenance_request.request_date %>
</p>

<%= link_to 'Edit', edit_maintenance_request_path(@maintenance_request) %> |
<%= link_to 'Back', maintenance_requests_path %>
