
<%= simple_form_for(@acceptance_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-6 left_form">
        <%= f.association :organization_structure, collection: [current_user.organization_structure], prompt: false %>
        <%= f.association :facility, collection: [current_user.facility], prompt: false %>
        <%= f.input :request_to, collection: Constants::REQUEST_TO %>
        <div id="acceptance_request_to">
          <%= render partial: 'request_to' %>
        </div>
        <%= f.association :user, label: 'Requested by', collection: [current_user], prompt: false %>
        <%= f.input :request_date, as: :string, input_html: {class: 'datepicker'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :equipment_name %>
        <%= f.input :model %>
        <%= f.input :volts_ampere %>
        <%= f.input :power_requirement %>
        <%= f.input :description %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
