<div class="header">
  <h2>
    Acceptance Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Equipment name</th>
      <th>Model</th>
      <th>Request to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acceptance_requests.each do |acceptance_request| %>
      <tr>
        <td><%= acceptance_request.request_from %></td>
        <td><%= acceptance_request.request_date %></td>
        <td><%= acceptance_request.equipment_name %></td>
        <td><%= acceptance_request.model %></td>
        <td><%= acceptance_request.request_to %></td>
        <td><%= acceptance_request.status %></td>
        <td>
          <%= link_to 'Details', acceptance_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_acceptance_request_path(acceptance_request), class: 'btn btn-primary' if can? :edit, acceptance_request and acceptance_request.status == Constants::PENDING %>
          <%= link_to 'Delete', acceptance_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, acceptance_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Acceptance Request', new_acceptance_request_path, class: 'btn btn-primary' if can? :create, AcceptanceRequest %>
</div>