<div class="header">
<h2>Acceptance Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @acceptance_request.request_from %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @acceptance_request.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @acceptance_request.model %>
</p>

<p>
  <strong>Volts ampere:</strong>
  <%= @acceptance_request.volts_ampere %>
</p>

<p>
  <strong>Power requirement:</strong>
  <%= @acceptance_request.power_requirement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acceptance_request.description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @acceptance_request.request_to %>
</p>

  <% if @acceptance_request.institution_id? %>
      <p>
        <label><%= @acceptance_request.request_to %>:</label>
        <%= @acceptance_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @acceptance_request.user.name_and_from_type %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @acceptance_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @status %>
  </p>
  <%= simple_form_for(@acceptance_request, url: decision_acceptance_request_path) do |f| %>
  <% if can? :decision, @acceptance_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.input :comment %>
          <%= f.input :status, label: 'Action', collection: Constants::ACTIONS, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
          <div id="forward">
            <%= f.input :request_to, label: 'Forward to', collection: Constants::REQUEST_TO %>
          </div>
          <div id="acceptance_request_to">
            <%= render partial: 'request_to' %>
          </div>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @acceptance_request.comment %></p>
      <p><label><%= @status unless @status==Constants::PENDING %> by:</label> <%= @acceptance_request.decided_user.try(:name_and_from_type) %></p>
  <% end %>

  <hr/>
      <% if can? :decision, @acceptance_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.button :submit, 'submit' %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_acceptance_request_path(@acceptance_request), class: 'btn btn-primary' if can? :edit, @acceptance_request and @acceptance_request.status == Constants::PENDING %>
<%= link_to 'Back', acceptance_requests_path %>
</div>