<div class="header">
<h2>Acceptance Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @acceptance_request.request_from %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @acceptance_request.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @acceptance_request.model %>
</p>

<p>
  <strong>Volts ampere:</strong>
  <%= @acceptance_request.volts_ampere %>
</p>

<p>
  <strong>Power requirement:</strong>
  <%= @acceptance_request.power_requirement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acceptance_request.description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @acceptance_request.request_to %>
</p>

  <% if @acceptance_request.institution_id? %>
      <p>
        <label><%= @acceptance_request.request_to %>:</label>
        <%= @acceptance_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @acceptance_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @acceptance_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @acceptance_request.status %>
  </p>


  <hr/>
  <%= simple_nested_form_for(@acceptance_request, url: decision_acceptance_request_path) do |f| %>
      <% if can? :decision, @acceptance_request and @acceptance_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @acceptance_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @acceptance_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_acceptance_request_path(@acceptance_request) %> |
<%= link_to 'Back', acceptance_requests_path %>
</div>