<p id="notice"><%= notice %></p>

<p>
  <strong>Organization structure:</strong>
  <%= @acceptance_request.organization_structure %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @acceptance_request.facility %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @acceptance_request.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @acceptance_request.model %>
</p>

<p>
  <strong>Volts ampere:</strong>
  <%= @acceptance_request.volts_ampere %>
</p>

<p>
  <strong>Power requirement:</strong>
  <%= @acceptance_request.power_requirement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acceptance_request.description %>
</p>

<p>
  <strong>Requested to:</strong>
  <%= @acceptance_request.requested_to %>
</p>

<p>
  <strong>Request to org structure:</strong>
  <%= @acceptance_request.request_to_org_structure %>
</p>

<p>
  <strong>Request to facility:</strong>
  <%= @acceptance_request.request_to_facility %>
</p>

<p>
  <strong>Request to institution:</strong>
  <%= @acceptance_request.request_to_institution %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @acceptance_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @acceptance_request.request_date %>
</p>

<%= link_to 'Edit', edit_acceptance_request_path(@acceptance_request) %> |
<%= link_to 'Back', acceptance_requests_path %>
