<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization_unit, as: :hidden, input_html: {value: current_user.organization_unit_id} %>
    <%= f.input :store_name %>
    <%= f.input :block_number %>
    <%= f.input :room_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
