<div class="header">
  <h2>
    Stores
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Organization structure</th>
      <th>Facility</th>
      <th>Store name</th>
      <th>Block number</th>
      <th>Room number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.organization_structure %></td>
        <td><%= store.facility %></td>
        <td><%= store.store_name %></td>
        <td><%= store.block_number %></td>
        <td><%= store.room_number %></td>
        <td>
          <%= link_to 'Edit', edit_store_path(store) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'New Store', new_store_path %>
</div>
