<div class="row">
  <div class="col-sm-6">
  <table class="table table-responsive">
    <tr>
      <th>Facility:</th>
      <td><%= @equipment.organization_unit %></td>
    </tr>

    <tr>
      <th>Equipment name:</th>
      <td><%= @equipment.equipment_name %></td>
    </tr>

    <tr>
      <th>Model:</th>
      <td><%= @equipment.model %></td>
    </tr>

    <tr>
      <th>Serial number:</th>
      <td><%= @equipment.serial_number %></td>
    </tr>

    <tr>
      <th>Tag number:</th>
      <td><%= @equipment.tag_number %></td>
    </tr>

    <tr>
      <th>Power requirement:</th>
      <td><%= @equipment.power_requirement %></td>
    </tr>

    <tr>
      <th>Manufacturer:</th>
      <td><%= @equipment.manufacturer %></td>
    </tr>

    <tr>
      <th>Country of origin:</th>
      <td><%= @equipment.country_name %></td>
    </tr>
  </table>
  </div>

  <div class="col-sm-6 left_form">
    <table class="table table-responsive">
    <tr>
      <th>Manufactured year:</th>
      <td><%= @equipment.manufactured_year.strftime("%Y")  rescue nil %></td>
    </tr>

    <tr>
      <th>Purchased year:</th>
      <td><%= @equipment.purchased_year.strftime("%Y")  rescue nil %></td>
    </tr>

    <tr>
      <th>Cost:</th>
      <td><%= @equipment.cost %></td>
    </tr>

    <tr>
      <th>Supplier/Agent:</th>
      <td><%= @equipment.institution %></td>
    </tr>

      <tr>
        <th>Installation Date:</th>
        <td><%= @equipment.installation_date.strftime("%B %d, %Y") rescue nil %></td>
      </tr>

    <tr>
      <th>Status:</th>
      <td><%= @equipment.status %></td>
    </tr>
    </table>
    <% unless @equipment.documents.blank? %>
        <h5>Documents</h5>
        <table class="table">
          <% @equipment.documents.each do |d| %>
          <tr>
            <td><%= d.name %></td>
            <td>
              <% if d.attachment.attached? %>
              <%= link_to d.attachment, target: '_blank' do %>
                  <button><i class="material-icons">file_download</i></button>
              <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
    <% end %>
  </div>
</div>
<hr/>
<%= link_to 'Edit', edit_equipment_path(@equipment), class: 'btn btn-primary' if can? :edit, @equipment %>