<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Facility</th>
      <th>Inventory Number</th>
      <th>Equipment name</th>
      <th>Equipment Type</th>
      <th>Model</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @equipment.each do |equipment| %>
        <tr>
          <td><%= equipment.organization_unit %></td>
          <td><%= equipment.inventory_number %></td>
          <td><%= equipment.equipment_name %></td>
          <td><%= equipment.equipment_type %></td>
          <td><%= equipment.model %></td>
          <td><label class="label" style="background-color: <%= equipment.status.color %>">
            <%= equipment.status %>
          </label>
          <td><%= link_to 'Details', equipment, class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
<%= link_to 'Register Equipment', new_equipment_path(organization_unit_id: current_user.organization_unit.try(:id)), class: 'btn btn-primary' if current_user.organization_unit.facility if can? :create, Equipment %>