<% unless @equipment.blank? %>
<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Facility</th>
      <th>Inventory Number</th>
      <th>Equipment name</th>
      <th>Category</th>
      <th>Model</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @equipment.each do |equipment| %>
        <tr>
          <td><%= equipment.facility %></td>
          <td><%= equipment.inventory_number %></td>
          <td><%= equipment.equipment_name %></td>
          <td><%= equipment.equipment_category %></td>
          <td><%= equipment.model %></td>
          <td><label class="label <%= equipment.status == Equipment::NON_FUNCTIONAL ? 'label-warning' :
                                                                    (equipment.status == Equipment::DISPOSED ? 'label-danger' :
                                                                         (equipment.status == Equipment::FUNCTIONAL ? 'label-success' : 'label-default')) %>">
            <%= equipment.status %>
          </label>
          <td><%= link_to 'Details', equipment, class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
<% end %>
<%= link_to 'New Equipment', new_equipment_path(facility: @facility.try(:id)), class: 'btn btn-primary' unless @facility.blank? if can? :create, Equipment %>