<%= simple_nested_form_for(@equipment) do |f| %>
    <%= hidden_field_tag 'organization_unit', @organization_unit.try(:id) %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :inventory_number %>
      <%= f.association :equipment_type %>
      <%= f.association :equipment_name %>
      <%= f.association :department, label: 'Installed Department' %>
      <%= f.input :location %>
      <%= f.input :installation_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :warranty_expire_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.association :maintenance_provider, label: "Maintenance Service Provider" %>
      <%= f.association :maintenance_requirement %>
      <%= f.input :description, label: 'Brief description of item' %>
      <%= f.input :country, label: 'Country of Origin' %>
      <%= f.input :manufacturer %>
      <%= f.input :model %>
      <%= f.input :serial_number %>
    </div>
  <div class="col-sm-6 left_form">
    <%= f.input :tag_number %>
    <%= f.input :power_requirement, label: "Power Requirement (in Volts)", hint: 'Eg. 220' %>
    <%= f.input :manufactured_year, start_year: Date.today.year - 100,end_year: Date.today.year,
                discard_day: true, discard_month: true, prompt: true %>
    <%= f.input :acquisition_type, collection: Constants::EQUIPMENT_ACQUISITIONS %>
    <%= f.input :years_used, label: 'Years used (if device is used)' %>
    <%= f.association :institution, label: 'Supplier/Agent' %>
    <%= f.input :purchased_year, start_year: Date.today.year - 100, end_year: Date.today.year,
                discard_day: true, discard_month: true, prompt: true %>
    <%= f.input :order_number %>
    <%= f.input :cost %>
    <%= f.input :estimated_life_span %>
    <%= f.input :equipment_risk_classification, collection: Constants::RISK_LEVELS %>
    <%= f.association :status %>
    <legend>Documents</legend>
    <%= render partial: 'documents', locals: {f: f} %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
