<div class="header">
  <h2>
    Equipment List
  </h2>
</div>

<div class="body table-responsive row">
  <div class="col-sm-3">
    <% if current_user.department %>
        <label><%= current_user.organization_unit %> <br/>
          <hr/>
          <%= current_user.department %></label>
        <% else %>
    <div id="equipment_tree"></div>
    <% end %>
  </div>

  <div class="col-sm-9">
    <div id="equipment">
      <%= render partial: '/equipment/equipment' %>
    </div>
  </div>
</div>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'equipment' %>