<div class="header">
  <h2>
    Equipment List
  </h2>
</div>

<div class="body table-responsive row">
  <div class="col-sm-4">
    <% if current_user.department %>
        <label><%= current_user.organization_unit %> <br/>
          <hr/>
          <%= current_user.department %></label>
        <% else %>
    <div id="equipment_tree"></div>
    <% end %>
  </div>

  <div class="col-sm-8">
    <div id="equipment">
      <%= render partial: '/equipment/equipment' %>
      <%= link_to 'Register Equipment', new_equipment_path(organization_unit_id: current_user.organization_unit.try(:id)), class: 'btn btn-primary' if current_user.organization_unit.facility and can? :create, Equipment %>
      <%= link_to 'Import Equipments', import_equipment_index_path, class: 'btn btn-primary' if current_user.organization_unit.facility and can? :create, Equipment %>
    </div>
  </div>
</div>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'equipment' %>