<div class="header">
  <h3>
    <div class="row">
      <div class="col-sm-6"><a href="javascript:void(0);" class="list-group-item">
        <span class="font-15">Inventory Number:</span> <span class="right font-15 font-italic font-underline"><%= @equipment.inventory_number %></span>
      </a>
      </div>
      <div class="col-sm-6">
        <a href="javascript:void(0);" class="list-group-item">
        <span class="font-15">Next Preventive Maintenance Date:</span> <span class="right font-15 font-italic font-underline"><%= @equipment.preventive_maintenance_date.strftime("%B %d, %Y") %></span>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="javascript:void(0);" class="list-group-item">
          <span class="font-15">Status:</span> <label class="right font-15 font-italic label" style="background-color: <%= @equipment.status.color %>"><%= @equipment.status %></label>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="javascript:void(0);" class="list-group-item">
          <span class="font-15">Years Used:</span> <span class="right font-15 font-italic font-underline"><%= @equipment.years_used %></span>
        </a>
      </div>
    </div>
  </h3>
</div>
<div class="body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#equipment_details" data-toggle="tab">Equipment Registration</a></li>
    <li role="presentation"><a href="#maintenance" data-toggle="tab">Maintenance</a></li>
    <li role="presentation"><a href="#trainings" data-toggle="tab">Trainees</a></li>
    <li role="presentation"><a href="#inventories" data-toggle="tab">Inventories</a></li>
    <li role="presentation"><a href="#disposal" data-toggle="tab">Disposal</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="equipment_details">
      <%= render 'equipment_detail' %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="maintenance">
      <div class="body table-responsive">
      <%= render partial: 'maintenances/maintenances', locals: { :@maintenances => @equipment.maintenances } %>
        <hr/>
      <%= link_to 'Register Maintenance', new_maintenance_path(equipment: @equipment.id), class: 'btn btn-primary' if can? :create, Maintenance %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="trainings">
      <div class="body table-responsive">
        <%= render partial: 'trainings/trainings', locals: { :@trainings => @equipment.trainings } %>
        <hr/>
        <%= link_to 'Register Training', new_training_path(equipment: @equipment.id), class: 'btn btn-primary' if can? :create, Training %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="inventories">
      <div class="body table-responsive">
        <%= render partial: 'inventories/inventories', locals: { :@inventories => @equipment.inventories } %>
        <hr/>
        <%= link_to 'Register Inventory', new_inventory_path(equipment: @equipment.id), class: 'btn btn-primary' if can? :create, Inventory %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="disposal">
      <%= render partial: 'disposals/disposal', locals: { :@disposal => @equipment.disposal } %>
      <%= link_to 'Register Disposal', new_disposal_path(equipment: @equipment.id), class: 'btn btn-primary' if @equipment.disposal.blank? and can? :create, Disposal %>
    </div>

  </div>
</div>


