<table id="equipments" class="table table-responsive">
  <tr>
    <th>Equipment Name</th>
    <th>Description</th>
    <th>Model</th>
    <th>Quantity</th>
    <th>Unit Cost</th>
    <th></th>
  </tr>
<%= f.simple_fields_for :receive_equipments, :wrapper=>false do |eq_form| %>
      <tr class="fields">
        <td><%= eq_form.input :equipment_name, label: false %></td>
        <td><%= eq_form.input :description, label: false %></td>
        <td><%= eq_form.input :model, label: false %></td>
        <td><%= eq_form.input :quantity, label: false %></td>
        <td><%= eq_form.input :unit_cost, label: false %></td>
        <td>
          <%= eq_form.link_to_remove do%>
              <i class="material-icons">delete</i> Remove
          <% end %>
        </td>
      </tr>
<% end %>
</table>
<p><%= f.link_to_add "Add Equipment", :receive_equipments,"data-target" => "#equipments", class: 'btn btn-primary'  %></p>
<br/>