<%= simple_nested_form_for(@receife) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.association :store, collection: @stores %>
      <%= f.input :deliverer_name, label: 'Deliverer Name' %>
      <%= f.input :recipient_name, label: 'Recipient Name' %>
    </div>

    <div class="col-sm-6">
      <%= f.input :witness_name, label: 'Witness/s Name' %>
      <%= f.input :delivery_date, as: 'string', input_html: {class: 'datepicker'}, label: 'Delivery Date' %>
      <%= f.input :remark %>
    </div>

  </div>
    <h5>Equipment List</h5>
    <%= render partial: 'equipment_fields', locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, 'Save Receiving Form' %>
  </div>
<% end %>
