<%= simple_nested_form_for(@receife) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.association :store, collection: @stores %>
      <%= f.input :reference_number %>
      <%= f.input :deliverer_name, label: 'Delivered By' %>
    </div>

    <div class="col-sm-6 left_form">
      <%= f.input :recipient_name, label: 'Received By' %>
      <%= f.input :receive_date, as: 'string', input_html: {class: 'datepicker'}, label: 'Delivery Date' %>
      <%= f.input :note %>
    </div>
    <%= render partial: 'spare_part_fields', locals: {f: f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save Receiving Form' %>
  </div>
<% end %>
