<div class="header">
  <h2>
    Item Receivals
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Store</th>
      <th>Delivered by</th>
      <th>Received by</th>
      <th>Receive date</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receives.each do |receife| %>
      <tr>
        <td><%= receife.store %></td>
        <td><%= receife.deliverer_name %></td>
        <td><%= receife.recipient_name %></td>
        <td><%= receife.receive_date %></td>
        <td><%= receife.note %></td>
        <td>
          <%= link_to 'Details', receife, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_receive_path(receife), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'Items Receiving Form', new_receive_path, class: 'btn btn-primary' if can? :create, Receive %>
</div>