<div class="card">
  <div class="body">
    <p>
      <strong>Store:</strong>
      <%= @receife.store %>
    </p>

    <p>
      <strong>Bin Number:</strong>
      <%= @receife.bin_number %>
    </p>

    <p>
      <strong>Equipment Name:</strong>
      <%= @receife.equipment_name %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @receife.model %>
    </p>

    <p>
      <strong>With Full Checklist:</strong>
      <%= @receife.with_full_checklist %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= q = @receife.quantity %>
    </p>

    <p>
      <strong>Unit Cost (Birr):</strong>
      <%= uc = @receife.unit_cost %>
    </p>

    <p>
      <strong>Total Cost (Birr):</strong>
      <%= q * uc %>
    </p>

    <p>
      <strong>Deliverer name:</strong>
      <%= @receife.deliverer_name %>
    </p>

    <p>
      <strong>Recipient name:</strong>
      <%= @receife.recipient_name %>
    </p>

    <p>
      <strong>Recipient Contact Address:</strong>
      <%= @receife.recipient_contact_address %>
    </p>

    <p>
      <strong>Witness name:</strong>
      <%= @receife.witness_name %>
    </p>

    <p>
      <strong>Witness Contact Address:</strong>
      <%= @receife.witness_contact_address %>
    </p>

    <p>
      <strong>Delivery date:</strong>
      <%= @receife.delivery_date %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @receife.note %>
    </p>
    <hr/>
    <%= link_to 'Edit', edit_receife_path(@receife), class: 'btn btn-primary' %>
    <%= link_to 'Download Model 19', receife_path(@receife,:format=>:pdf),:class=>'btn', class: 'btn btn-primary' %>
    <%= link_to 'Back', receives_path %>
  </div>
</div>
