<br/>
<u><h3 style="text-align: center">RECEIPT FOR MEDICAL EQUIPMENT RECEIVED</h3></u>
<br/>
<div>
  <p>
    I <u><%= @receife.recipient_name %></u> received the following medical equipment
    on <u><%= @receife.delivery_date.strftime('%B %d, %Y') %></u> from <u><%= @receife.deliverer_name %></u>
  </p>
<br/><br/>
<table border="1" style="width: 100%; border-collapse: collapse">
  <tr>
    <th>Equipment</th>
    <th>Model</th>
    <th>Quantity</th>
    <th>Unit Cost (Birr)</th>
    <th>Total Cost (Birr)</th>
  </tr>
    <tr>
      <td><%= @receife.equipment_name %></td>
      <td><%= @receife.model %></td>
      <td><%= q=@receife.quantity %></td>
      <td><%= p=@receife.unit_cost %></td>
      <td><%= t = (q || 0) * (p || 0)  %></td>
    </tr>
</table>
</div>