<br/>
<u><h3 style="text-align: center">RECEIPT FOR ITEMS RECEIVED</h3></u>
<br/>
<div>
  <p>
    I <u><%= @receife.recipient_name %></u> received the following items
    on <u><%= @receife.receive_date.strftime('%B %d, %Y') %></u> from <u><%= @receife.deliverer_name %></u>
  </p>
<br/><br/>
<table border="1" style="width: 100%; border-collapse: collapse">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Expiry Date</th>
    <th>Remarks</th>
    <th>Total Cost (Birr)</th>
  </tr>
  <% @receife.receive_spare_parts.each do |sp| %>
    <tr>
      <td><%= sp.spare_part %></td>
      <td><%= q=sp.quantity %></td>
      <td><%= p=sp.unit_price %></td>
      <td><%= sp.expiry_date.strftime('%B %d, %Y') %></td>
      <td><%= sp.remarks %></td>
      <td><%= t = (q || 0) * (p || 0)  %></td>
    </tr>
  <% end %>
</table>
</div>