<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :father_name %>
      <%= f.input :grand_father_name %>
    </div>
    <div class="col-sm-6" style="border-left: 1px solid skyblue;">
      <%= f.association :organization_unit, label: 'Organization Unit/Facility', collection: @org_units if @user_type == 'org_unit' %>
      <%= f.association :institution, collection: @institutions, label: 'Supplier' if @user_type == 'supplier' %>
      <%= f.input :role, collection: @roles %>
      <div id="department">
        <%= render partial: 'department' %>
      </div>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'users' %>