<table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
  <tr>
    <th>Email</th>
    <th>Organization Unit / Facility </th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.organization_unit %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-pirmary' %>
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add New User', new_user_path(organization_unit: @organization_unit.try(:id)), class: 'btn btn-primary' unless @organization_unit.blank? %>