
<%= simple_nested_form_for(@distribution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :equipment_name %>
    <%= f.input :distribution_date, as: :string, input_html: {class: 'datepicker'} %>
    <% counter = 0 %>
    <%= f.simple_fields_for :sub_distributions do |sd| %>
        <% counter += 1 %>
          <div class="row">
            <div class="col-sm-5"><%= sd.association :organization_unit, label: false, prompt: 'Org Unit/Facility' %></div>
            <div class="col-sm-5"><%= sd.input :number_of_equipment, label: false, placeholder: 'Number of Equipment'  %></div>
            <div class="col-sm-2"><%= sd.link_to_remove 'Remove', class: 'btn btn-primary' if counter > 1 %></div>
          </div>
        <%= javascript_include_tag 'global' %>
    <% end %>
    <%= f.link_to_add 'Add Org Unit / Facility', :sub_distributions, class: 'btn btn-primary' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
