<div class="header">
  <h2>
    Distributions
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Request Date</th>
      <th>Total Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @distributions.each do |distribution| %>
      <tr>
        <td><%= distribution.equipment_name %></td>
        <td><%= distribution.request_date.strftime("%B %d, %Y") %></td>
        <td><%= distribution.total_quantity %></td>
        <td>
          <%= link_to 'Details', distribution, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'New Distribution', new_distribution_path, class: 'btn btn-primary' if can? :create, Distribution %>
</div>