<div class="header">
  <h2>Distribution Details</h2>
</div>
<div class="body">

<p>
  <strong>Equipment name:</strong>
  <%= @distribution.equipment_name %>
</p>

<p>
  <strong>Distribution Date:</strong>
  <%= @distribution.distribution_date %>
</p>

  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <caption>List of organization units/facilities</caption>
    <% @distribution.sub_distributions.each do |sd| %>
      <tr>
        <td><%= sd.organization_unit %></td>
        <td><%= sd.number_of_equipment %></td>
      </tr>
        <% end %>
  </table>
<%= link_to 'Edit', edit_distribution_path(@distribution), class: 'btn btn-primary' %>
<%= link_to 'Back', distributions_path, class: 'btn btn-default' %>
</div>