
<%= simple_form_for(@specification,html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-sm-4">
      <%= f.association :equipment_name %>
      <%= f.association :department, collection: @departments %>
      <%= f.association :organization_unit_type %>
    </div>
    <div class="col-sm-8">
    <%= f.input :item_detail, wrapper: 'vertical_form', input_html: {class: 'wysihtml5'} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
