
<%= simple_form_for(@specification,html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :name, label: 'Specification Name' %>
      <%= f.association :equipment_name %>
      <%= f.input :model %>
      <%= f.input :description %>
      <%= f.input :attachment, as: :file, hint: 'attach pdf file' %>
    </div>
    <div class="col-sm-6 left_form">
    <%= f.input :approximate_cost %>
    <%= f.input :specification_by, label: 'Prepared by' %>
    <%= f.input :contact_address %>
    <%= f.input :specification_date, label: 'Date', as: :string, input_html: {class: 'datepicker'} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
