<div class="header">
  <h2>
    Equipment Specifications
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Equipment name</th>
      <th>Facility TYpe</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specifications.each do |specification| %>
      <tr>
        <td><%= specification.equipment_name %></td>
        <td><%= specification.organization_unit_type %></td>
        <td><%= specification.department %></td>
        <td><%= link_to 'Details', specification, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'Register Specification', new_specification_path, class: 'btn btn-primary' if can? :manage, Specification %>
</div>