<div class="header">
  <h2>Specification Details</h2>
</div>
<div class="body">
<div class="row">
  <div class="col-sm-3">
    <p class="row">
      <label class="col-sm-6">Equipment Name:</label>
      <%= @specification.equipment_name %>
    </p>

    <p class="row">
      <label class="col-sm-6">Facility Type:</label>
      <%= @specification.organization_unit_type %>
    </p>

    <p class="row">
      <label class="col-sm-6">Department:</label>
      <%= @specification.department %>
    </p>
  </div>
  <div class="col-sm-9">
    <h3>Detail Description</h3><br/>
    <%= raw @specification.item_detail %>
  </div>
</div>
<hr/>
  <%= link_to 'Back', specifications_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_specification_path(@specification), class: 'btn btn-primary' if can? :edit, @specification %>

  <%= link_to 'Download', specification_path(@specification,:format=>:pdf), :class=>'btn btn-primary' %>
</div>