<div class="header">
  <h2>
    Installation Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request by</th>
      <th>Request date</th>
      <th>Equipment name</th>
      <th>Model</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @installation_requests.each do |installation_request| %>
      <tr>
        <td><%= installation_request.user.organization_unit %></td>
        <td><%= installation_request.request_date.strftime("%B %d, %y") %></td>
        <td><%= installation_request.equipment_name %></td>
        <td><%= installation_request.model %></td>
        <td><%= installation_request.status %></td>
        <td>
          <%= link_to 'Details', installation_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_installation_request_path(installation_request), class: 'btn btn-primary' if can? :edit, installation_request and installation_request.status == Constants::PENDING %>
          <%= link_to 'Delete', installation_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, installation_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Installation Request', new_installation_request_path, class: 'btn btn-primary' if can? :create, InstallationRequest %>
</div>