<div class="header">
  <h2>Installation Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @installation_request.request_from %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @installation_request.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @installation_request.model %>
</p>

<p>
  <strong>Installation description:</strong>
  <%= @installation_request.installation_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @installation_request.request_to %>
</p>

  <% if @installation_request.institution_id? %>
      <p>
        <label><%= @installation_request.request_to %>:</label>
        <%= @installation_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @installation_request.user.name_and_from_type %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @installation_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @status %>
  </p>
  <%= simple_form_for(@installation_request, url: decision_installation_request_path) do |f| %>
  <% if can? :decision, @installation_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.input :comment %>
          <%= f.input :status, label: 'Action', collection: Constants::ACTIONS, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
          <div id="forward">
            <%= f.input :request_to, label: 'Forward to', collection: Constants::REQUEST_TO %>
          </div>
          <div id="installation_request_to">
            <%= render partial: 'request_to' %>
          </div>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @installation_request.comment %></p>
      <p><label><%= @status unless @status==Constants::PENDING %> by:</label> <%= @installation_request.decided_user.try(:name_and_from_type) %></p>
  <% end %>
  <hr/>
      <% if can? :decision, @installation_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.button :submit, 'submit' %>
      <% end %>
  <% end %><br/>
<%= link_to 'Edit', edit_installation_request_path(@installation_request), class: 'btn btn-primary' if can? :edit, @installation_request and @installation_request.status == Constants::PENDING  %>
<%= link_to 'Back', installation_requests_path %>
</div>