<div class="header">
  <h2>Installation Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @installation_request.request_from %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @installation_request.equipment_name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @installation_request.model %>
</p>

<p>
  <strong>Installation description:</strong>
  <%= @installation_request.installation_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @installation_request.request_to %>
</p>

  <% if @installation_request.institution_id? %>
      <p>
        <label><%= @installation_request.request_to %>:</label>
        <%= @installation_request.institution %>
      </p>
  <% end %>

<p>
  <strong>Requested by:</strong>
  <%= @installation_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @installation_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @installation_request.status %>
  </p>

  <hr/>
  <%= simple_nested_form_for(@installation_request, url: decision_installation_request_path) do |f| %>
      <% if can? :decision, @installation_request and @installation_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @installation_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @installation_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_installation_request_path(@installation_request), class: 'btn btn-primary' %>
<%= link_to 'Back', installation_requests_path %>
</div>