<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Organization Unit / Facility</th>
      <th>Name</th>
      <th>Profession</th>
      <th>Title</th>
      <th>Work place</th>
      <th>Phone number</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.organization_unit %></td>
          <td><%= contact.name %></td>
          <td><%= contact.profession %></td>
          <td><%= contact.title %></td>
          <td><%= contact.work_place %></td>
          <td><%= contact.phone_number %></td>
          <td>
            <%= link_to 'Details', contact, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-primary' if can? :edit, contact %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
  <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' if can? :create, Contact%>
</div>