<div class="header">
  <h2>Contact Detail</h2>
</div>
<div class="body">
  <p>
    <strong>Organization Unit:</strong>
    <%= @contact.organization_structure %>
  </p>
<p>
  <strong>Facility:</strong>
  <%= @contact.facility %>
</p>

<p>
  <strong>Name of contact:</strong>
  <%= @contact.name_of_contact %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @contact.profession %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Work place:</strong>
  <%= @contact.work_place %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<hr/>
<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' if can? :edit, @contact %>
<%= link_to 'Back', contacts_path %>
</div>