<p id="notice"><%= notice %></p>

<p>
  <strong>Facility:</strong>
  <%= @contact.facility %>
</p>

<p>
  <strong>Name of contact:</strong>
  <%= @contact.name_of_contact %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @contact.profession %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Work place:</strong>
  <%= @contact.work_place %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
