<div class="header">
  <h2>
    Maintenance Work Orders
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Assigned to</th>
      <th>priority</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_work_orders.each do |maintenance_work_order| %>
      <tr>
        <td><%= maintenance_work_order.equipment %></td>
        <td><%= maintenance_work_order.user %></td>
        <td><%= maintenance_work_order.priority %></td>
        <td><%= maintenance_work_order.status %></td>
        <td>
          <%= link_to 'Edit', edit_maintenance_work_order_path(maintenance_work_order), class: 'btn btn-primary' if can? :manage, maintenance_work_order %>
          <%= link_to 'Details', maintenance_work_order, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'New Maintenance Work Order', new_maintenance_work_order_path, class: 'btn btn-primary' if can? :manage, MaintenanceWorkOrder %>
</div>