<div class="header">
  <h2>Work Order Details</h2>
</div>
<div class="body">
<p>
  <strong>Equipment:</strong>
  <%= @maintenance_work_order.equipment %>
</p>

<p>
  <strong>Task Allocated to:</strong>
  <%= @maintenance_work_order.user %>
</p>

<p>
  <strong>Task Priority:</strong>
  <%= @maintenance_work_order.priority %>
</p>

<p>
  <strong>Description of problem:</strong>
  <%= @maintenance_work_order.maintenance_request.description_of_problem rescue nil %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @maintenance_work_order.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @maintenance_work_order.note %>
  </p>
  <hr/>
<%= link_to 'Back', maintenance_work_orders_path, class: 'btn btn-primary' %>
  <%= link_to 'Maintenance Report', new_maintenance_path(work_order: @maintenance_work_order.id,
                                                         maintenance_request: @maintenance_work_order.maintenance_request_id), class: 'btn btn-primary' if can? :create, Maintenance %>
</div>