<div class="header">
  <h2>
    Budget Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Budget name</th>
      <th>Amount</th>
      <th>Request to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_requests.each do |budget_request| %>
      <tr>
        <td><%= budget_request.request_from %></td>
        <td><%= budget_request.request_date %></td>
        <td><%= budget_request.budget_name %></td>
        <td><%= budget_request.amount %></td>
        <td><%= budget_request.request_to %></td>
        <td><%= budget_request.status %></td>
        <td>
          <%= link_to 'Details', budget_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_budget_request_path(budget_request), class: 'btn btn-primary' if can? :edit, budget_request %>
          <%= link_to 'Delete', budget_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, budget_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Budget Request', new_budget_request_path, class: 'btn btn-primary' if can? :create, BudgetRequest %>
</div>