<div class="header">
  <h2>Budget Request</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @budget_request.organization_structure %>
</p>

<p>
  <strong>Budget name:</strong>
  <%= @budget_request.budget_name %>
</p>

<p>
  <strong>Budget description:</strong>
  <%= @budget_request.budget_description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget_request.amount %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @budget_request.request_to %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @budget_request.contact_address %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @budget_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @budget_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @budget_request.status %>
  </p>

  <hr/>
  <%= simple_nested_form_for(@budget_request, url: decision_budget_request_path) do |f| %>
      <% if can? :decision, @budget_request and @budget_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @budget_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @budget_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_budget_request_path(@budget_request), class: 'btn btn-primary' %>
<%= link_to 'Back', budget_requests_path %>
</div>