<table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
  <tr>
    <th>Equipment</th>
    <th>Type</th>
    <th>Reason for Disposal</th>
    <th>Disposal Method</th>
    <th>Disposing Committee</th>
    <th>Disposed date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @disposals.each do |disposal| %>
      <tr>
        <td><%= disposal.equipment_name %></td>
        <td><%= disposal.equipment_name.equipment_type %></td>
        <td><%= disposal.reason_for_disposal %></td>
        <td><%= disposal.disposal_method %></td>
        <td><%= disposal.disposing_committee %></td>
        <td><%= disposal.disposed_date.strftime("%B %d, %Y") rescue nil %></td>
        <td>
          <%= link_to 'Edit', edit_disposal_path(disposal) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>