<div class="header">
  <h2>Disposal Details</h2>
</div>
<div class="body">
<% unless @disposal.blank? %>
<p>
  <strong>Equipment:</strong>
  <%= @disposal.equipment %>
</p>

<p>
  <strong>Reason fo disposal:</strong>
  <%= @disposal.reason_for_disposal %>
</p>

<p>
  <strong>Disposal method:</strong>
  <%= @disposal.disposal_method %>
</p>

<p>
  <strong>Disposing committee:</strong>
  <%= @disposal.disposing_committee %>
</p>

<p>
  <strong>Disposed date:</strong>
  <%= @disposal.disposed_date %>
</p>
<br/>
      <p class="row">
        <% if @disposal.attachment.attached? %>
            <label class="col-sm-2">Attached Document:</label>
            <%= link_to @disposal.attachment, target: '_blank' do %>
                <button><i class="material-icons">file_download</i></button>
            <% end %>
        <% end %>
      </p>
<hr/>
<%= link_to 'Edit', edit_disposal_path(@disposal) %>
<% end %>
</div>