
<%= simple_form_for(@disposal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :equipment, collection: @equipments %>
    <%= f.input :reason_for_disposal, collection: Constants::DISPOSAL_REASONS %>
    <%= f.input :disposal_method, collection: Constants::DISPOSAL_METHODS %>
    <%= f.input :disposing_commitee %>
    <%= f.input :disposed_date, as: :string, input_html: {class: 'datepicker'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
