
<%= simple_form_for(@disposal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :equipment, collection: @equipments %>
    <%= f.input :problem %>
    <%= f.input :action_taken %>
    <%= f.input :list_of_disposing_commitee %>
    <%= f.input :contact_address %>
    <%= f.input :disposed_date, as: :string, input_html: {class: 'datepicker'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
