
<%= simple_form_for(@disposal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :equipment, collection: [f.object.equipment] %>
    <%= f.input :reason_for_disposal, collection: Constants::DISPOSAL_REASONS %>
    <%= f.input :disposal_method, collection: Constants::DISPOSAL_METHODS %>
    <%= f.input :disposing_committee %>
    <%= f.input :disposed_date, as: :string, input_html: {class: 'datepicker'} %>
    <%= f.input :attachment, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
