<div class="header">
  <h2>
    Calibration Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Equipment</th>
      <th>Calibration description</th>
      <th>Requested to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calibration_requests.each do |calibration_request| %>
      <tr>
        <td><%= calibration_request.request_from %></td>
        <td><%= calibration_request.request_date %></td>
        <td><%= calibration_request.equipment %></td>
        <td><%= calibration_request.calibration_description %></td>
        <td><%= calibration_request.request_to %></td>
        <td><%= calibration_request.status %></td>
        <td>
          <%= link_to 'Details', calibration_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_calibration_request_path(calibration_request), class: 'btn btn-primary' if can? :edit, calibration_request %>
          <%= link_to 'Delete', calibration_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, calibration_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calibration Request', new_calibration_request_path, class: 'btn btn-primary' if can? :create, CalibrationRequest %>
</div>