
<%= simple_form_for(@maintenance) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.association :equipment %>
      <%= f.input :maintenance_type, as: :radio_buttons, collection: ['Corrective','Preventive'] %>
      <%= f.input :problem %>
      <%= f.input :action_taken %>
      <%= f.input :spare_parts_used %>
    </div>
    <div class="col-sm-6" style="border-left: 1px solid skyblue;">
      <%= f.input :start_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :end_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :maintenance_cost %>
      <%= f.input :maintained_by %>
      <%= f.input :contact_address %>
      <%= f.input :preventive_maintenance_date, label: 'Next Preventive Maintenance Date', as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :note %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
