  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Equipment</th>
      <th>Maintenance cost</th>
      <th>Maintained by</th>
      <th>Next Preventive maintenance date</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @maintenances.each do |maintenance| %>
        <tr>
          <td><%= maintenance.equipment %></td>
          <td><%= maintenance.maintenance_cost %></td>
          <td><%= maintenance.engineer_name_and_contact %></td>
          <td><%= maintenance.preventive_maintenance_date %></td>
          <td><%= maintenance.note %></td>
          <td>
            <%= link_to 'Details', maintenance %> |
            <%= link_to 'Edit', edit_maintenance_path(maintenance) %> |
            <%= link_to 'Delete', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>