  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Equipment</th>
      <th>Maintenance Type</th>
      <th>Maintained by</th>
      <th>Maintenance cost</th>
      <th>Equipment Status</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @maintenances.each do |maintenance| %>
        <tr>
          <td><%= maintenance.equipment %></td>
          <td><%= maintenance.maintenance_type %></td>
          <td><%= maintenance.engineer_name_and_contact %></td>
          <td><%= maintenance.maintenance_cost %></td>
          <td><%= maintenance.status %></td>
          <td><%= maintenance.end_date.strftime("%B %d, %Y") rescue nil %></td>
          <td>
            <%= link_to 'Details', maintenance, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_maintenance_path(maintenance), class: 'btn btn-primary' if can? :edit, maintenance %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>