  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
    <tr>
      <th>Equipment</th>
      <th>Maintenance type</th>
      <th>Problem</th>
      <th>Action taken</th>
      <th>Spare parts used</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Maintenance cost</th>
      <th>Maintained by</th>
      <th>Contact address</th>
      <th>Preventive maintenance date</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @maintenances.each do |maintenance| %>
        <tr>
          <td><%= maintenance.equipment %></td>
          <td><%= maintenance.maintenance_type %></td>
          <td><%= maintenance.problem %></td>
          <td><%= maintenance.action_taken %></td>
          <td><%= maintenance.spare_parts_used %></td>
          <td><%= maintenance.start_date %></td>
          <td><%= maintenance.end_date %></td>
          <td><%= maintenance.maintenance_cost %></td>
          <td><%= maintenance.maintained_by %></td>
          <td><%= maintenance.contact_address %></td>
          <td><%= maintenance.preventive_maintenance_date %></td>
          <td><%= maintenance.note %></td>
          <td>
            <%= link_to 'Details', maintenance %> |
            <%= link_to 'Edit', edit_maintenance_path(maintenance) %> |
            <%= link_to 'Delete', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>