<div class="header">
  <h2>Maintenance Details</h2>
</div>
<div class="body">
<p>
  <strong>Equipment:</strong>
  <%= @maintenance.equipment %>
</p>

<p>
  <strong>Maintenance type:</strong>
  <%= @maintenance.maintenance_type %>
</p>

<p>
  <strong>Description of equipment failure:</strong>
  <%= @maintenance.description_of_equipment_failure %>
</p>

  <p>
    <strong>Cause of equipment failure:</strong>
    <%= @maintenance.cause_of_equipment_failure %>
  </p>

  <p>
    <strong>Part of equipment maintained:</strong>
    <%= @maintenance.part_of_equipment_maintained %>
  </p>

<p>
  <strong>Corrective action:</strong>
  <%= @maintenance.corrective_action %>
</p>

<p>
  <strong>Spare parts used:</strong>
  <%= @maintenance.spare_parts_used %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @maintenance.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @maintenance.end_date %>
</p>

<p>
  <strong>Maintenance cost:</strong>
  <%= @maintenance.maintenance_cost %>
</p>

<p>
  <strong>Engineer/s name and contact:</strong>
  <%= @maintenance.engineer_name_and_contact %>
</p>

  <p>
    <strong>Equipment Status:</strong>
    <%= @maintenance.status %>
  </p>

<p>
  <strong>Note:</strong>
  <%= @maintenance.note %>
</p>
<hr/>
<%= link_to 'Edit', edit_maintenance_path(@maintenance), class: 'btn btn-primary' if can? :edit, @maintenance %>
</div>