<p id="notice"><%= notice %></p>

<h1>Forwards</h1>

<table>
  <thead>
    <tr>
      <th>Organization unit</th>
      <th>Institution</th>
      <th>Forwardable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forwards.each do |forward| %>
      <tr>
        <td><%= forward.organization_unit %></td>
        <td><%= forward.institution %></td>
        <td><%= forward.forwardable %></td>
        <td><%= link_to 'Show', forward %></td>
        <td><%= link_to 'Edit', edit_forward_path(forward) %></td>
        <td><%= link_to 'Destroy', forward, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forward', new_forward_path %>
