<div class="header">
  <h2>
    Maintenance Toolkit Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Toolkit name</th>
      <th>Quantity</th>
      <th>Request to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_toolkit_requests.each do |maintenance_toolkit_request| %>
      <tr>
        <td><%= maintenance_toolkit_request.request_from %></td>
        <td><%= maintenance_toolkit_request.request_date %></td>
        <td><%= maintenance_toolkit_request.toolkit_name %></td>
        <td><%= maintenance_toolkit_request.quantity %></td>
        <td><%= maintenance_toolkit_request.request_to %></td>
        <td><%= maintenance_toolkit_request.status %></td>

        <td>
          <%= link_to 'Details', maintenance_toolkit_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_maintenance_toolkit_request_path(maintenance_toolkit_request), class: 'btn btn-primary' if can? :edit, maintenance_toolkit_request and maintenance_toolkit_request.status == Constants::PENDING %>
          <%= link_to 'Delete', maintenance_toolkit_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' if can? :destroy, maintenance_toolkit_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Maintenance Toolkit Request', new_maintenance_toolkit_request_path, class: 'btn btn-primary' if can? :create, MaintenanceToolkitRequest %>
</div>