<%= simple_nested_form_for(@procurement_request) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.association :organization_structure, collection: @organization_structures, prompt: false %>
      <%= f.association :facility, collection: @facilities, prompt: false %>
      <%= f.input :request_to, collection: Constants::REQUEST_TO %>
      <div id="procurement_request_to">
        <%= render partial: 'request_to' %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= f.association :user, label: 'Requested by', collection: [current_user], prompt: false %>
      <%= f.input :contact_phone %>
      <%= f.input :contact_email %>
      <%= f.input :request_date, as: :string, input_html: {class: 'datepicker'} %>
    </div>
  </div>
    <hr/>
    <%= render partial: 'procurement_request_equipment_fields', locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
