<table id="procurement_request_equipments" width="100%" %>
  <%= f.simple_fields_for :procurement_request_equipments, :wrapper => false do |equipment_form| %>
      <tr class="fields">
        <td><%= equipment_form.input :equipment_name, placeholder: 'Equipment Name', label: false %></td>
        <td><%= equipment_form.input :specification, placeholder: 'Specification', label: false %></td>
        <td><%= equipment_form.input :quantity, placeholder: 'Quantity', label: false %></td>
        <td><%= equipment_form.link_to_remove do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<p><%= f.link_to_add "Add Equipment", :procurement_request_equipments, :data => { :target => "#procurement_request_equipments" } %></p>