<div class="header">
  <h2>
    Procurement Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Organization structure</th>
      <th>Facility</th>
      <th>Requested by</th>
      <th>Contact phone</th>
      <th>Contact email</th>
      <th>Request to</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @procurement_requests.each do |procurement_request| %>
      <tr>
        <td><%= procurement_request.organization_structure %></td>
        <td><%= procurement_request.facility %></td>
        <td><%= procurement_request.requested_by %></td>
        <td><%= procurement_request.contact_phone %></td>
        <td><%= procurement_request.contact_email %></td>
        <td><%= procurement_request.request_to %></td>
        <td>
          <%= link_to 'Details', procurement_request %>
          <%= link_to 'Edit', edit_procurement_request_path(procurement_request) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'New Procurement Request', new_procurement_request_path %>
</div>
