<div class="header">
  <h2>
    Procurement Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request From</th>
      <th>Requested date</th>
      <th>Request to</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @procurement_requests.each do |procurement_request| %>
      <tr>
        <td><%= procurement_request.request_from %></td>
        <td><%= procurement_request.request_date %></td>
        <td><%= procurement_request.request_to %></td>
        <td><%= procurement_request.status %></td>
        <td>
          <%= link_to 'Details', procurement_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_procurement_request_path(procurement_request), class: 'btn btn-primary' if can? :edit, procurement_request %>
          <%= link_to 'Delete', procurement_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, procurement_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'New Procurement Request', new_procurement_request_path, class: 'btn btn-primary' if can? :create, ProcurementRequest %>
</div>
