<div class="header">
  <h2>Procurement Request</h2>
</div>
<div class="body">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <label class="col-sm-6">Request By:</label>
        <%= @procurement_request.user.organization_unit %>
      </div>

      <div class="row">
        <label class="col-sm-6">Request Date:</label>
        <%= @procurement_request.request_date.strftime("%B %d, %Y") rescue nil %>
      </div>  

      <p class="row">
        <label class="col-sm-6">Contact phone:</label>
        <%= @procurement_request.contact_phone %>
      </p>

      <p class="row">
        <label class="col-sm-6">Contact email:</label>
        <%= @procurement_request.contact_email %>
      </p>
      <p class="row">
        <% if @procurement_request.attachment.attached? %>
            <label class="col-sm-6">Attached Document:</label>
            <%= link_to @procurement_request.attachment, target: '_blank' do %>
                <button><i class="material-icons">file_download</i></button>
            <% end %>
        <% end %>
      </p>
      <p class="row">
        <label class="col-sm-6">Status:</label>
        <%= @procurement_request.status %>
        <% if @procurement_request.status == Constants::OUT_SOURCED %>
            to <%= @procurement_request.forwards.order('created_at DESC').first.institution rescue nil %>
        <% end %>
        <% if @procurement_request.status == Constants::FORWARDED %>
            to <%= @procurement_request.forwards.order('created_at DESC').first.organization_unit %>
        <% end %>
      </p>
      <% unless @procurement_request.status==Constants::PENDING %>
          <div class="row"><label class="col-sm-6"><%= @procurement_request.status %> by:</label> <%= @procurement_request.decided_user.organization_unit %></div>
          <div class="row"><label class="col-sm-6">Comment:</label> <%= @procurement_request.comment %></div>
      <% end %>
      <% unless @procurement_request.procurement_request_equipments.blank? %>
      <h4>Equipments</h4>
      <table class="table">
        <tr>
          <th>Equipment</th>
          <th>Specification</th>
          <th>Quantity</th>
        </tr>
        <% @procurement_request.procurement_request_equipments.each do |eq| %>
            <tr>
              <td><%= eq.equipment_name %></td>
              <td><p class="row">
                <% if eq.attachment.attached? %>
                    <%= link_to eq.attachment, target: '_blank' do %>
                        <button><i class="material-icons">file_download</i></button>
                    <% end %>
                <% end %>
              </p></td>
              <td><%= eq.quantity %></td>
            </tr>
        <% end %>
      </table>
      <% end %>
      <% unless @procurement_request.procurement_request_spare_parts.blank? %>
      <h4>Spare Parts/Accessries</h4>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
        <% @procurement_request.procurement_request_spare_parts.each do |sp| %>
            <tr>
              <td><%= sp.spare_part %></td>
              <td><%= sp.description %></td>
              <td><%= sp.requested_quantity %></td>
            </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    <div class="col-sm-6 left_form">
      <% if can? :decision, @procurement_request and ([Constants::PENDING, Constants::FORWARDED].include?(@procurement_request.status)) %>
          <%= simple_nested_form_for(@procurement_request, url: decision_procurement_request_path) do |f| %>
              <%= f.input :comment %>
              <%= f.input :status, collection: @actions, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
              <%= f.simple_fields_for :forwards, Forward.new do |ff| %>
                  <div id="outsource">
                    <%= ff.input :institution_id, label: "Out Sourced to", collection: @institutions %>
                  </div>
                  <div id="forward">
                    <%= ff.input :organization_unit_id, label: 'Forward to', collection: @organization_units, include_blank: false %>
                  </div>
              <% end %>
              <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>

              <hr/>
              <%= f.button :submit, 'Submit' %>
          <% end %>
      <% end %>
    </div>
  </div>
  <hr/>
  <%= link_to 'Back', procurement_requests_path %>
  <%= link_to 'Edit', edit_procurement_request_path(@procurement_request), class: 'btn btn-primary' if can? :edit, @procurement_request and @procurement_request.status == Constants::PENDING  %>
</div>