<div class="header">
  <h2>
    Procurement Request
  </h2>
</div>
<div class="body">
  <%= simple_nested_form_for(@procurement_request, url: decision_procurement_request_path) do |f| %>
      <p>
        <label>Request From:</label>
        <%= @procurement_request.request_from %>
      </p>

      <p>
        <label>Request Date:</label>
        <%= @procurement_request.request_date %>
      </p>

    <p>
      <label>Requested by:</label>
      <%= @procurement_request.user %>
    </p>

    <p>
      <label>Contact phone:</label>
      <%= @procurement_request.contact_phone %>
    </p>

    <p>
      <label>Contact email:</label>
      <%= @procurement_request.contact_email %>
    </p>

    <p>
      <label>Request to:</label>
      <%= @procurement_request.request_to %>
    </p>
    <% if @procurement_request.institution_id? %>
      <p>
        <label><%= @procurement_request.request_to %>:</label>
        <%= @procurement_request.institution %>
      </p>
    <% end %>
    <p>
      <label>Status:</label>
      <%= @procurement_request.status %>
    </p>

        <% if can? :decision, @procurement_request and @procurement_request.status == Constants::PENDING %>
            <%= f.input :comment, wrapper: 'vertical_form' %>
            <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
        <% else %>
          <p><label>Comment:</label> <%= @procurement_request.comment %></p>
            <p><label>Decided by:</label> <%= @procurement_request.decided_user %></p>
        <% end %>

  <caption>Equipments</caption>
  <table class="table">
    <tr>
      <th>Equipment</th>
      <th>Specification</th>
      <th>Requested Quanitity</th>
      <th>Approved Quanitity</th>
    </tr>
    <%= f.simple_fields_for :procurement_request_equipments do |eq| %>
      <tr>
        <td><%= eq.object.equipment_name %></td>
        <td><%= eq.object.specification %></td>
        <td><%= eq.object.quantity %></td>
        <td>
          <% if can? :decision, @procurement_request and @procurement_request.status == Constants::PENDING %>
            <%= eq.input :approved_quantity, label: false, input_html: {value: eq.object.approved_quantity || eq.object.quantity} %>
          <% else %>
            <%= eq.object.approved_quantity %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
      <center>
        <% if can? :decision, @procurement_request and @procurement_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @procurement_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @procurement_request.status == Constants::REJECTED %>
        <% end %>
      </center>
  <% end %>
<hr/>
    <%= link_to 'Edit', edit_procurement_request_path(@procurement_request), class: 'btn btn-primary' if can? :edit, @procurement_request and @procurement_request.status == Constants::PENDING  %> &nbsp;&nbsp;&nbsp;
  <%= link_to 'Back', procurement_requests_path %>
</div>