
<%= simple_form_for(@planned_preventive_maintenace) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :equipment %>
    <%= f.input :action_taken %>
    <%= f.input :maintained_date, as: :string, input_html: {class: 'datepicker'} %>
    <%= f.input :maintenace_cost %>
    <%= f.input :enginneer_name_and_address, label: 'Engineer/s Name and Contact' %>
    <%= f.input :next_ppm %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
