<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @planned_preventive_maintenace.user %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @planned_preventive_maintenace.equipment %>
</p>

<p>
  <strong>Action taken:</strong>
  <%= @planned_preventive_maintenace.action_taken %>
</p>

<p>
  <strong>Maintained date:</strong>
  <%= @planned_preventive_maintenace.maintained_date %>
</p>

<p>
  <strong>Maintenace cost:</strong>
  <%= @planned_preventive_maintenace.maintenace_cost %>
</p>

<p>
  <strong>Enginneer name and address:</strong>
  <%= @planned_preventive_maintenace.enginneer_name_and_address %>
</p>

<p>
  <strong>Next ppm:</strong>
  <%= @planned_preventive_maintenace.next_ppm %>
</p>

<p>
  <strong>Note:</strong>
  <%= @planned_preventive_maintenace.note %>
</p>

<%= link_to 'Edit', edit_planned_preventive_maintenace_path(@planned_preventive_maintenace) %> |
<%= link_to 'Back', planned_preventive_maintenaces_path %>
