<% content_for :header do %>
    <div class="row">
    </div>
   <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="header">
          Equipments By Status
        </div>
        <div class="body">
          <%= column_chart equipment_by_status_equipment_index_path, donut: true %>
        </div>
      </div>
     </div>

    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Standard vs Available Functional Equipment
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#equipment_by_standard_by_table" data-toggle="tab">Tabular</a></li>
            <li role="presentation"><a href="#equipment_by_standard_by_graph" data-toggle="tab">Graphical</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="equipment_by_standard_by_table">
              <%= render partial: '/equipment/standard_available_equipment'  %>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="equipment_by_standard_by_graph">
              <%= column_chart ideal_vs_available_by_type_equipment_index_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
     <% if current_user.organization_unit.facility %>
     <div class="col-sm-12">
       <div class="card">
         <div class="header">
           Equipment by Department
         </div>
         <div class="body">
           <%= column_chart equipment_by_department_equipment_index_path %>
         </div>
       </div>
     </div>

     <div class="col-sm-12">
       <div class="card">
         <div class="header">
           Spare Parts' Min Re-order Level vs Available
         </div>
         <div class="body">
           <%= column_chart ideal_vs_available_by_type_spare_parts_path %>
         </div>
       </div>
     </div>
     <% end %>

     <% unless current_user.organization_unit.facility %>
         <div class="col-sm-12">

           <div class="panel panel-default">
             <div class="panel-heading">
               Equipment by Organization unit and Status
             </div>
             <div class="panel-body">
               <ul class="nav nav-tabs tab-nav-right" role="tablist">
                 <li role="presentation"  class="active"><a href="#equipment_by_org_unit_and_status_by_table" data-toggle="tab">Tabular</a></li>
                 <li role="presentation"><a href="#equipment_by_org_unit_and_status_by_graph" data-toggle="tab">Graphical</a></li>
               </ul>

               <!-- Tab panes -->
               <div class="tab-content">
                 <div role="tabpanel" class="tab-pane fade in active" id="equipment_by_org_unit_and_status_by_table">
                   <%= render partial: '/equipment/equipment_by_org_unit_by_status'  %>
                 </div>
                 <div role="tabpanel" class="tab-pane fade in" id="equipment_by_org_unit_and_status_by_graph">
                   <%= column_chart equipment_by_org_unit_and_status_equipment_index_path %>
                 </div>
               </div>
             </div>
           </div>

         </div>

         <div class="col-sm-12">


           <div class="panel panel-default">
             <div class="panel-heading">
               Equipment by Organization unit and Type
             </div>
             <div class="panel-body">
               <ul class="nav nav-tabs tab-nav-right" role="tablist">
                 <li role="presentation" class="active"><a href="#equipment_by_org_unit_and_type_by_table" data-toggle="tab">Tabular</a></li>
                 <li role="presentation"><a href="#equipment_by_org_unit_and_type_by_graph" data-toggle="tab">Graphical</a></li>
               </ul>

               <!-- Tab panes -->
               <div class="tab-content">
                 <div role="tabpanel" class="tab-pane fade in active" id="equipment_by_org_unit_and_type_by_table">
                   <%= render partial: '/equipment/equipment_by_org_unit_by_type'  %>
                 </div>
                 <div role="tabpanel" class="tab-pane fade in" id="equipment_by_org_unit_and_type_by_graph">
                   <%= column_chart equipment_by_org_unit_and_type_equipment_index_path %>
                 </div>
               </div>
             </div>
           </div>
         </div>
     <% end %>
    </div>
    <% unless current_user.organization_unit == OrganizationUnit.top_organization_unit %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Preventive Maintenance Calendar
      </div>
      <div class="panel-body">
        <div id="calendar"></div>
      </div>
    </div>
    <% end %>
<% end %>