<% if current_user.is_role(Constants::SUPPLIER) or current_user.is_role(Constants::LOCAL_REPRESENTATIVE) %>
    <% content_for :header do %>
        <div class="block-header">
          <h2>DASHBOARD</h2>
        </div>
    <% end %>
    <div class="header">
      <h2>
        Procurement Requests
      </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
        <tr>
          <th>Request By</th>
          <th>Request Date</th>
          <th>Current Team</th>
          <th>Current Status</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% current_user.institution.request_statuses.each do |request_status| %>
            <tr>
              <td><%= request_status.procurement_request %></td>
              <td><%= request_status.procurement_request.request_date.strftime("%b %d, %Y") rescue nil %></td>
              <td><%= request_status.epsa_team %></td>
              <td><%= request_status.status %></td>
              <td><%= request_status.status_date.strftime("%b %d, %Y") rescue nil %></td>
              <td><%= link_to 'Details', request_status.procurement_request, class: 'btn btn-primary' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>