<div class="header">
  <h2>
    Specification Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Requested date</th>
      <th>Equipment name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specification_requests.each do |specification_request| %>
      <tr>
        <td><%= specification_request.user.organization_unit %></td>
        <td><%= specification_request.requested_date.strftime("%B %d, %Y") rescue nil %></td>
        <td><%= specification_request.equipment_name %></td>
        <td><%= specification_request.description %></td>
        <td><%= specification_request.status %></td>
        <td>
          <%= link_to 'Details', specification_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_specification_request_path(specification_request), class: 'btn btn-primary' if can? :edit, specification_request and specification_request.status == Constants::PENDING %>
          <%= link_to 'Delete', specification_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, specification_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Specification Request', new_specification_request_path, class: 'btn btn-primary' if can? :create, SpecificationRequest %>
</div>