<div class="header">
  <h2>Specification Request</h2>
</div>
<div class="body">
<p>
  <strong>Request From:</strong>
  <%= @specification_request.request_from %>
</p>

<p>
  <strong>Equipment name:</strong>
  <%= @specification_request.equipment_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @specification_request.quantity %>
</p>

  <p>
    <strong>Request to:</strong>
    <%= @specification_request.request_to %>
  </p>

  <% if @specification_request.institution_id? %>
      <p>
        <label><%= @specification_request.request_to %>:</label>
        <%= @specification_request.institution %>
      </p>
  <% end %>
<p>
  <strong>Requested by:</strong>
  <%= @specification_request.user %>
</p>

<p>
  <strong>Requested date:</strong>
  <%= @specification_request.requested_date %>
</p>
  <p>
    <label>Status:</label>
    <%= @specification_request.status %>
  </p>
  <%= simple_form_for(@specification_request, url: decision_specification_request_path) do |f| %>
  <% if can? :decision, @specification_request and @specification_request.status == Constants::PENDING %>
      <%= f.input :comment, wrapper: 'vertical_form' %>
      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @specification_request.comment %></p>
      <p><label>Decided by:</label> <%= @specification_request.decided_user %></p>
  <% end %>
<hr/>
<center>
    <% if can? :decision, @specification_request and @specification_request.status == Constants::PENDING %>
      <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @specification_request.status == Constants::APPROVED %>
      &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @specification_request.status == Constants::REJECTED %>
    <% end %>
  <% end %>
</center>

<%= link_to 'Edit', edit_specification_request_path(@specification_request),class: 'btn btn-primary' if can? :edit, @specification_request and @specification_request.status == Constants::PENDING  %>
<%= link_to 'Back', specification_requests_path %>
</div>