
<%= simple_form_for(@disposal_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <%= f.association :equipment, collection: @equipments %>
      <%= f.input :description %>
        <%= f.input :contact_address %>
        <%= f.association :user, label: 'Requested by', collection: [current_user], prompt: false %>
        <%= f.input :request_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :attachment, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
