<div class="header">
  <h2>
    Disposal Requests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Request from</th>
      <th>Request date</th>
      <th>Equipment</th>
      <th>Disposal description</th>
      <th>Requested to</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disposal_requests.each do |disposal_request| %>
      <tr>
        <td><%= disposal_request.request_from %></td>
        <td><%= disposal_request.request_date %></td>
        <td><%= disposal_request.equipment %></td>
        <td><%= disposal_request.disposal_description %></td>
        <td><%= disposal_request.request_to %></td>
        <td><%= disposal_request.status %></td>
        <td>
          <%= link_to 'Details', disposal_request, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_disposal_request_path(disposal_request), class: 'btn btn-primary' if can? :edit, disposal_request %>
          <%= link_to 'Delete', disposal_request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, disposal_request %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'New Disposal Request', new_disposal_request_path, class: 'btn btn-primary' if can? :create, DisposalRequest %>
</div>