<div class="header">
  <h2>Disposal Requests</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @disposal_request.request_from %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @disposal_request.equipment %>
</p>

<p>
  <strong>Disposal description:</strong>
  <%= @disposal_request.disposal_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @disposal_request.request_to %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @disposal_request.contact_address %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @disposal_request.user.name_and_from_type %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @disposal_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @status %>
  </p>
  <%= simple_form_for(@disposal_request, url: decision_disposal_request_path) do |f| %>
  <% if can? :decision, @disposal_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.input :comment %>
          <%= f.input :status, label: 'Action', collection: Constants::ACTIONS, as: :radio_buttons, wrapper_html: {class: 'single_columned_list'} %>
          <div id="forward">
            <%= f.input :request_to, label: 'Forward to', collection: Constants::REQUEST %>
          </div>

      <%= f.association :decided_user, as: :hidden, input_html: {value: current_user.id} %>
  <% else %>
      <p><label>Comment:</label> <%= @disposal_request.comment %></p>
      <p><label><%= @status unless @status==Constants::PENDING %> by:</label> <%= @disposal_request.decided_user.try(:name_and_from_type) %></p>
  <% end %>
  <hr/>
      <% if can? :decision, @disposal_request and [Constants::PENDING, Constants::FORWARDED].include?(@status) %>
          <%= f.button :submit, 'submit' %>
      <% end %>
  <% end %>
  <br/>
<%= link_to 'Edit', edit_disposal_request_path(@disposal_request), class: 'btn btn-primary' if can? :edit, @disposal_request and @disposal_request.status == Constants::PENDING  %>
<%= link_to 'Back', disposal_requests_path %>
</div>