<div class="header">
  <h2>Disposal Requests</h2>
</div>
<div class="body">
<p>
  <strong>Request from:</strong>
  <%= @disposal_request.request_from %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @disposal_request.equipment %>
</p>

<p>
  <strong>Disposal description:</strong>
  <%= @disposal_request.disposal_description %>
</p>

<p>
  <strong>Request to:</strong>
  <%= @disposal_request.request_to %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @disposal_request.contact_address %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @disposal_request.requested_by %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @disposal_request.request_date %>
</p>

  <p>
    <strong>Status:</strong>
    <%= @disposal_request.status %>
  </p>

  <hr/>
  <%= simple_nested_form_for(@disposal_request, url: decision_disposal_request_path) do |f| %>
      <% if can? :decision, @disposal_request and @disposal_request.status == Constants::PENDING %>
          <%= f.button :button, 'Approve', type: 'submit', name: 'status', value: Constants::APPROVED  unless @disposal_request.status == Constants::APPROVED %>
          &nbsp;&nbsp;&nbsp;<%= f.button :button, 'Reject', type: 'submit', name: 'status', value: Constants::REJECTED unless @disposal_request.status == Constants::REJECTED %>
      <% end %>
  <% end %>
<%= link_to 'Edit', edit_disposal_request_path(@disposal_request), class: 'btn btn-primary' %>
<%= link_to 'Back', disposal_requests_path %>
</div>