<div class="header">
  <h2>
    Equipment Names
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Equipment Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_names.each do |equipment_name| %>
      <tr>
        <td><%= equipment_name.name %></td>
        <td><%= equipment_name.code %></td>
        <td><%= equipment_name.equipment_type %></td>
        <td>
          <%= link_to 'Edit', edit_equipment_name_path(equipment_name) %> |
          <%= link_to 'Delete', equipment_name, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="col-sm-6">
    <%= form_tag import_names_equipment_names_path,:multipart=>true do %>
        <label>Select CSV File</label> <%= file_field_tag(:names_csv_file) %><br/>
        <%= submit_tag 'Import',class: 'btn' %>
    <% end %>
  </div>
<hr/>
<%= link_to 'Add Equipment Name', new_equipment_name_path, class: 'btn btn-primary' %>
</div>