<% unless @acceptance_test.blank? %>
<p>
  <strong>Equipment:</strong>
  <%= @acceptance_test.equipment %>
</p>

<p>
  <strong>Meet standard:</strong>
  <%= @acceptance_test.meet_standard %>
</p>

<p>
  <strong>With order specification:</strong>
  <%= @acceptance_test.with_order_specification %>
</p>

<p>
  <strong>Installation done:</strong>
  <%= @acceptance_test.installation_done %>
</p>

<p>
  <strong>Test run:</strong>
  <%= @acceptance_test.test_run %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @acceptance_test.accepted %>
</p>

<p>
  <strong>Maintenance personnel trained:</strong>
  <%= @acceptance_test.maintenance_personnel_trained %>
</p>

<p>
  <strong>End users trained:</strong>
  <%= @acceptance_test.end_users_trained %>
</p>

<p>
  <strong>With full accessery:</strong>
  <%= @acceptance_test.with_full_accessery %>
</p>

<p>
  <strong>With manual:</strong>
  <%= @acceptance_test.with_manual %>
</p>

<p>
  <strong>Status:</strong>
  <%= @acceptance_test.status %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @acceptance_test.approved_by %>
</p>

<p>
  <strong>Acceptance testing date:</strong>
  <%= @acceptance_test.acceptance_testing_date %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @acceptance_test.contact_address %>
</p>

<p>
  <strong>Note:</strong>
  <%= @acceptance_test.note %>
</p>
<hr/>
<%= link_to 'Edit', edit_acceptance_test_path(@acceptance_test) %>
<% end %>