<div class="header">
  <h2>
    Acceptance Tests
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Equipment</th>
      <th>Status</th>
      <th>Approved by</th>
      <th>Acceptance testing date</th>
      <th>Contact address</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acceptance_tests.each do |acceptance_test| %>
      <tr>
        <td><%= acceptance_test.equipment %></td>
        <td><%= acceptance_test.status %></td>
        <td><%= acceptance_test.approved_by %></td>
        <td><%= acceptance_test.acceptance_testing_date %></td>
        <td><%= acceptance_test.contact_address %></td>
        <td><%= acceptance_test.note %></td>
        <td>
          <%= link_to 'Details', acceptance_test %> |
          <%= link_to 'Edit', edit_acceptance_test_path(acceptance_test) %> |
          <%= link_to 'Delete', acceptance_test, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <hr/>
<%= link_to 'New Acceptance Test', new_acceptance_test_path, class: 'btn btn-primary' %>
</div>