<div class="header">
  <h2>Equipment Training Report</h2>
</div>

<div class="body">
  <%= simple_form_for :search, url:  reports_trainings_path, remote: true, html: { novalidate: true } do |f| %>

      <div class="row">
        <div class="col-sm-3">
        <div id="report_organization_structure_tree"></div>
        <%=  f.input :organization_structure, as: :hidden, required: false %>
        </div>
        <div class="col-sm-3">
          <div id="facility_display">
            <%= render partial: 'facility' %>
          </div>
          <%=  f.input :category, collection: EquipmentCategory.all, required: false %>
        </div>
        <div class="col-sm-3">
          <%=  f.input :equipment_name, required: false %>
          <%=  f.input :model, required: false %>
        </div>
        <div class="col-sm-3">
          <%=  f.input :training_type, collection: Constants::TRAINING_TYPES, as: :check_boxes,
                       wrapper_html:{class: "single_columned_list"}, input_html: {class: 'filled-in chk-col-pink'} %>
        </div>
      </div>
      <div class="form-actions align-center">
        <%= f.button :button, 'Reset Form', type: :reset, class: 'btn btn-default' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.button :submit, 'Search', class: 'btn btn-primary' %>
      </div>
  <% end %>
  <hr/>
  <div id="trainings_report">
    <%= render '/trainings/trainings', locals: {:@trainings => @trainings} %>
  </div>

</div>